{% extends "default.html" %} {% block content %}
<div id="fh5co-work" class="fh5co-light-grey">
    <div class="row animate-box">
        <center>
            <h2>Documents</h2></center>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4 text-center animate-box">
                <a href="http://www.sunwork.org/docs/articles_of_incorporation.pdf" class="work" style="background-image: url(../static/images/documents.jpg);">
                    <div class="desc">
                        <h3>Articles of Incorporation</h3>
                        <span>View More</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 text-center animate-box">
                <a href="http://www.sunwork.org/docs/organization_bylaws.pdf" class="work" style="background-image: url(../static/images/documents.jpg);">
                    <div class="desc">
                        <h3>Organization Bylaws</h3>
                        <span>View More</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 text-center animate-box">
                <a href="http://www.sunwork.org/docs/tax_exemption_papers.pdf" class="work" style="background-image: url(../static/images/documents.jpg);">
                    <div class="desc">
                        <h3>Federal Tax Exemption Papers</h3>
                        <span>View More</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}