{% extends "default.html" %} {% block content %}
<div id="fh5co-work" class="fh5co-light-grey">
    <div class="row animate-box">
        <center>
            <h2>Getting Started - Qualification Criteria</h2></center>
        <br>
        <br>
        <p>As part of an effort to support conservation and efficiency as essential complements to renewable energy, SunWork's program is open to
            <br>homeowners who apply these values for a modest energy footprint
            <br>as outlined below. </p>
        <p>SunWork's mission is to make renewable solar energy more affordable where it otherwise would have a relatively poor payback. Because the electric rates are tiered, people who use less electricity, pay lower rates which means they save less money for a given amount of solar PV installed. This is why SunWork focuses our efforts on people with relatively low electric bills. Electricity rates continue to rise and solar systems continue to come down in price making solar more attractive for everyone, so SunWork evaluates our criteria from time to time. </p>
        <p>
            <div class="col-md-4 col-sm-12 text-center animate-box">
                <a href="../static/images/getting_started1.jpg" class="work" style="background-image: url(../static/images/getting_started1.jpg);">
                    <div class="desc">
                        <h3>SunThink!</h3>
                        <span>View More</span>
                    </div>
                </a>
            </div>
            <div class="col-md-8 col-sm-12 ">
                <ul>
                    <li>Electric and gas service users with average monthly electricity use of $100 or lower (averaged over the previous 12 months).</li>
                    <li>All electric service users (no gas service) with average monthly electricity use of $140 or lower (averaged over the previous 12 months).</li>
                    <li>All customers on PG&amp;E's CARE rate for electricity. No usage limit.</li>
                    <li>For customers with an Electric Vehicle (EV), we look at 12 months of electric bills prior to getting the EV to determine if the elecric bills meets the $100 per month maximum. SunWork supports the use of EVs along with solar. We have this exception to avoid penalizing homeowners who would otherwise qualify without including the home electricity used to charge the EV.</li>
                    <li>
                        <p><span style="font-weight: bold;">Nonprofit Organizations</span> that own their building or have written owner consent.
                            <br> Currently SunWork limits solar installation size for nonprofits to 35 kW (DC) or less. </p>
                    </li>
                </ul>
            </div>
            <p>
                To arrange a free site survey, please send an inquiry to <a href="mailto:info@sunwork.org" style="color: rgb(64, 144, 255);">info@sunwork.org</a>, or contact us by phone at (650) 520-9918.
            </p>
            <h3>Roofing Criteria</h3>
            <p>
                SunWork will work on roofs that have a <span style="text-decoration: underline;">moderate slope</span> going up to 26 degrees.
                <br> We work on <span style="text-decoration: underline;">some flat roofs</span> including modified bitumen and EPDM roofs. If you are not sure what type of roof you have, no problem, just ask us.
                <br>
                <br>
                There must be <span style="text-decoration: underline;">easy access to the roof</span> from the ground or from inside the home. A two story home must have access to the second story from a portion of the first story of the roof. This enables SunWork to hand up materials from one level to the second level.
                <br>
                <br>
                The roofing material should be asphalt shingle also called <span style="text-decoration: underline;">composition shingle</span>. We may work on a low slope roof if the material is a modified bitumen membrane, but not tar and gravel. We also work on most metal seam roofs. Roofs made of wood shake, metal shake, cement tile or clay tile are more difficult to work on and SunWork currently does not install systems for these roof types.
            </p>
    </div>
</div>
{% endblock content %}