{% extends "default.html" %} {% block content %}
<aside id="fh5co-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(../static/images/solar_1.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-pull-3 slider-text">
                            <div class="slider-text-inner">
                                <h1>Use less than $100* of electricity a month?</h1>
                                <h2>SunWork can make solar power work for you. </h2>
                                <p><a class="btn btn-primary btn-learn" href="/systems">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(../static/images/solar_2.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
                            <div class="slider-text-inner">
                                <h1>Request Quote</h1>
                                <h2>SunWork can make solar power work for you. </h2>
                                <p><a class="btn btn-primary btn-learn" href="/request_site_survey">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(../static/images/solar_4.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
                            <div class="slider-text-inner">
                                <h1>SunWorks</h1>
                                <h2>Renewable Energy Projects</h2>
                                <p><a class="btn btn-primary btn-learn" href="/mission" target="blank">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<div id="fh5co-work" class="fh5co-light-grey">
    <div class="row animate-box">
        <h2>SunWorks</h2>
        <p>SunWork Renewable Energy Projects is a nonprofit in California's San Francisco Bay Area and <a style="color: rgb(64, 144, 255);" href="San_Luis_Obispo.html">Central Coast</a> that installs solar electricity systems on&nbsp;small-energy-footprint homes with the help of trained volunteers.
        </p>
        <br> SunWork's innovative model lets it deliver solar power to homeowners with already modest electricity use (and correspondingly low electricity bills) at a third less than the conventional cost, allowing more people to make the switch to solar and enabling broader adoption of this clean, safe, and renewable alternative to the sources of energy that contribute to climate change.
        <br>
        <br> SunWork takes care of every aspect of a solar installation, from site analysis and system design, to permitting and rebate paperwork, to installation, inspection, and continued support. SunWork is deeply committed to creating a safe, energetic, enjoyable, and meaningful experience for its volunteers, and to achieving the highest standard of quality and convenience for its customers.
        <br>
        <br> SunWork also installs solar systems&nbsp;
        <br> for <a style="color: rgb(64, 144, 255);" href="http://www.sunwork.org/Nonprofit%20systems.html">small
        nonprofit organizations</a>
        <br>
        <br>
        <p><big><span style="font-weight: bold;"><span style="text-decoration: underline;">Solar rebate ending</span> for residence in the City of Santa Clara. &nbsp;</span><a style="color: rgb(64, 144, 255);" href="Santa_Clara_rebate.html">Read more</a>. <span style="font-weight: bold;"></span></big></p>
        <p><big><span style="font-weight: bold;">SunWork
            Wins 2017 <a style="color: rgb(64, 144, 255);" href="http://www.sustainablesanmateo.org/home/awards/" target="_blank">Sustainability Award</a> </span><br style="font-weight: bold;">
            <span style="font-weight: bold;">from Sustainable San
            Mateo County!</span></big>
            <br> &nbsp;
        </p>
        <p>
            <br>
    </div>
    <div class="row">
        <div class="col-md-4 text-center animate-box">
            <a href="/system_photos" class="work" style="background-image: url(../static/images/index_1.jpg);">
                <div class="desc">
                    <h3>SunWorks</h3>
                    <span>View More</span>
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center animate-box">
            <a href="/system_photos" class="work" style="background-image: url(../static/images/index_2.jpg);">
                <div class="desc">
                    <h3>SunWorks</h3>
                    <span>View More</span>
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center animate-box">
            <a href="/system_photos" class="work" style="background-image: url(../static/images/index_3.jpg);">
                <div class="desc">
                    <h3>SunWorks</h3>
                    <span>View More</span>
                </div>
            </a>
        </div>
    </div>
</div>
<div id="fh5co-counter" class="fh5co-counters">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center animate-box">
            <iframe src="https://www.youtube.com/embed/hkbyfV0B-vw?rel=0" allowfullscreen="" frameborder="0" height="315" width="560"></iframe>
            <br>
            <a href="http://www.solarreviews.com/installers/sunwork-renewable-energy-projects-reviews/" target="_blank" style="font-size: 11pt; font-weight: bold; color: rgb(64, 144, 255);"></a></p>
            <p><a href="http://www.solarreviews.com/installers/sunwork-renewable-energy-projects-reviews/" target="_blank" style="font-size: 11pt; font-weight: bold; color: rgb(64, 144, 255);">&nbsp;* </a><a href="http://www.solarreviews.com/installers/sunwork-renewable-energy-projects-reviews/" target="_blank" style="font-size: 11pt; color: rgb(64, 144, 255);">Additional</a><a href="http://www.solarreviews.com/installers/sunwork-renewable-energy-projects-reviews/" target="_blank" style="font-size: 11pt; font-weight: bold; color: rgb(64, 144, 255);"> </a><a style="color: rgb(64, 144, 255);" href="http://www.sunwork.org/systemcriteria.html">qualification
             critiera</a>&nbsp;and exceptions.
                <br><a href="http://www.solarreviews.com/installers/sunwork-renewable-energy-projects-reviews/" target="_blank" style="font-size: 11pt; font-weight: bold; color: rgb(64, 144, 255);">&nbsp;&nbsp;
             &nbsp;&nbsp;&nbsp; &nbsp;</a><a href="http://www.solarreviews.com/installers/sunwork-renewable-energy-projects-reviews/" target="_blank" style="font-size: 11pt; color: black;">
             &nbsp; &nbsp; &nbsp; </a>
                <a href="http://www.solarreviews.com/installers/sunwork-renewable-energy-projects-reviews/" target="_blank" style="font-size: 11pt; font-weight: bold; color: rgb(64, 144, 255);">
                    <br> Read Reviews from Past Customers</a> | <a href="request_site_survey" style="font-size: 11pt; font-weight: bold; color: rgb(64, 144, 255);">Request
            a Free Site Survey</a></p>
        </div>
    </div>
    <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-3 text-center">
                    <span class="fh5co-counter js-counter" data-from="0" data-to="6542" data-speed="5000" data-refresh-interval="50"></span>
                    <span class="fh5co-counter-label">Projects</span>
                </div>
                <div class="col-md-3 text-center">
                    <span class="fh5co-counter js-counter" data-from="0" data-to="8687" data-speed="5000" data-refresh-interval="50"></span>
                    <span class="fh5co-counter-label">Done Projects</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}