{% extends "default.html" %}
{% block content %}
	<aside id="fh5co-hero">
            <div class="flexslider">
                <ul class="slides">
                    <li style="background-image: url(https://images2.imgbox.com/00/14/dwAMKH8s_o.png);">
                    <div class="overlay-gradient"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-pull-3 slider-text">
                                <div class="slider-text-inner">
{#                                    <h1>Not Every Project Needs To Be Perfect</h1>#}
{#                                        <h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>#}
{#                                        <p><a class="btn btn-primary btn-demo" href="#"></i> View Demo</a> <a class="btn btn-primary btn-learn">Learn More</a></p>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(http://sunwork.org/images/photos/showcase/full/001.jpg);">
                    <div class="overlay-gradient"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-pull-3 slider-text">
                                <div class="slider-text-inner">
{#                                    <h1>Not Every Project Needs To Be Perfect</h1>#}
{#                                        <h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>#}
{#                                        <p><a class="btn btn-primary btn-demo" href="#"></i> View Demo</a> <a class="btn btn-primary btn-learn">Learn More</a></p>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(http://sunwork.org/images/photos/showcase/full/002.jpg);">
                    <div class="overlay-gradient"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
                                <div class="slider-text-inner">
{#                                    <h1>WordPress Theme For People Who Tell Stories</h1>#}
{#                                        <h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>#}
{#                                        <p><a class="btn btn-primary btn-demo" href="#"></i> View Demo</a> <a class="btn btn-primary btn-learn">Learn More</a></p>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(http://sunwork.org/images/photos/showcase/full/003.jpg);">
                    <div class="overlay-gradient"></div>
                    <div class="container-fluids">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 slider-text">
                                <div class="slider-text-inner text-center">
{#                                    <h1>What Would You Like To Learn?</h1>#}
{#                                        <h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>#}
{#                                        <p><a class="btn btn-primary btn-demo" href="#"></i> View Demo</a> <a class="btn btn-primary btn-learn">Learn More</a></p>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url(http://sunwork.org/images/photos/showcase/full/004.jpg);">
                    <div class="overlay-gradient"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
                                <div class="slider-text-inner">
{#                                    <h1>I Love to Tell My Story</h1>#}
{#                                        <h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>#}
{#                                        <p><a class="btn btn-primary btn-demo" href="#"></i> View Demo</a> <a class="btn btn-primary btn-learn">Learn More</a></p>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>       
                </ul>
            </div>
        </aside>
        <div id="fh5co-services">
            <div class="row animate-box">
                <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                    <h2>About</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center animate-box">
                    <div class="services">
                        <div class="desc">
                            <p>SunWork Renewable Energy Projects is a nonprofit in California's San Francisco Bay Area and Central Coast that installs solar electricity systems on small-energy-footprint homes with the help of trained volunteers.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <div class="services">
                        <div class="desc">
                            <p>SunWork's innovative model lets it deliver solar power to homeowners with already modest electricity use (and correspondingly low electricity bills) at a third less than the conventional cost, allowing more people to make the switch to solar and enabling broader adoption of this clean, safe, and renewable alternative to the sources of energy that contribute to climate change.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <div class="services">
                        <div class="desc">
                            <p>SunWork takes care of every aspect of a solar installation, from site analysis and system design, to permitting and rebate paperwork, to installation, inspection, and continued support. SunWork is deeply committed to creating a safe, energetic, enjoyable, and meaningful experience for its volunteers, and to achieving the highest standard of quality and convenience for its customers. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="fh5co-work" class="fh5co-light-grey">
            <div class="row animate-box">
                <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                    <h2>Upcoming events</h2>
                    <p>Click to register.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center animate-box">
                    <a href="https://www.eventbrite.com/e/going-solar-workshop-berkeley-1245-pm-to-145-pm-tickets-42342387220" class="work" style="background-image: url(https://images2.imgbox.com/4b/71/RyIGFruG_o.jpg);">
                        <div class="desc">
                            <h3>Saturday, February 24, Going Solar Workshop</h3>
                            <span>Berkeley 12:45pm to 1:45pm</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <a href="https://www.eventbrite.com/e/volunteer-solar-installer-orientation-with-sunwork-berkeley-215-pm-to-515-pm-tickets-42342282908" class="work" style="background-image: url(https://i.pinimg.com/564x/1c/a9/80/1ca98073b696a322b9cb7f0db4b72c4a.jpg);">
                        <div class="desc">
                            <h3>Saturday, February 24 volunteer training</h3>
                            <span>Berkeley 2:15pm to 5:15pm</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <a href="https://www.eventbrite.com/e/volunteer-solar-installer-orientation-with-sunwork-milpitas-9am-to-noon-tickets-40883384303" class="work" style="background-image: url(https://n1pl6rd66126i54f3c41jd19-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/milpitas-california-property-managers.jpg);">
                        <div class="desc">
                            <h3>Saturday, February 24 volunteer training</h3>
                            <span>Milpitas 9am to 12pm (Waitlist Only)</span>
                        </div>
                    </a>
                </div>
            </div>
        <div class="text-center">
            <a href="event">Click to view more events</a>
        </div>
        </div>

        <div id="fh5co-counter" class="fh5co-counters">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center animate-box">
                    <p>Projects completed so far:</p>
                    </div>
            </div>
            <div class="row animate-box">
                <div class="col-md-6 col-md-offset-3">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <span class="fh5co-counter js-counter" data-from="0" data-to="234" data-speed="5000" data-refresh-interval="50"></span>
                            <span class="fh5co-counter-label">Client</span>
                        </div>
                        <div class="col-md-4 text-center">
                            <span class="fh5co-counter js-counter" data-from="0" data-to="6542" data-speed="5000" data-refresh-interval="50"></span>
                            <span class="fh5co-counter-label">Projects</span>
                        </div>
                        <div class="col-md-4 text-center">
                            <span class="fh5co-counter js-counter" data-from="0" data-to="8687" data-speed="5000" data-refresh-interval="50"></span>
                            <span class="fh5co-counter-label">Done Projects</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="fh5co-blog" class="blog-flex">
            <div class="featured-blog" style="background-image: url(../static/images/blog-1.jpg);">
                <div class="desc-t">
                    <div class="desc-tc">
                        <span class="featured-head">Featured Posts</span>
                        <h3><a href="http://www.sustainablesanmateo.org/home/awards/">SunWork Wins 2017 Sustainability Award from Sustainable San Mateo County!</a></h3>
                        <span><a href="http://www.sustainablesanmateo.org/home/awards/" class="read-button">Learn More</a></span>
                    </div>
                </div>
            </div>
            <div class="blog-entry fh5co-light-grey">
                <div class="row animate-box">
                    <div class="col-md-12">
                        <h2>Latest News</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11 animate-box">
                        <a href="http://sunwork.org/docs/BGCP_Solar_Release_with_Facebook_1_2018.pdf" class="blog-post">
                            <h4>Boys & Girls Clubs' Bell Haven Clubhouse Installs Solar Panels & Showcases Clean Energy for Youth</h4>
                            <p>1/22/2018</p>
                        </a>
                    </div>
                    <div class="col-md-11 animate-box">
                        <a href="#" class="blog-post">
                            <h4>SunWork wins 2017 award from Yelp </h4>
                            <p>1/8/2018</p>
                        </a>
                    </div>
                    <div class="col-md-11 animate-box">
                        <a href="https://www.solarpowerworldonline.com/2018/01/spw-editors-california-install/" class="blog-post">
                            <h4>Solar Power World Editors volunteer on SunWork installation</h4>
                            <p>1/1/2018</p>
                        </a>
                    </div>
                </div>
                <a href="event/news">More news</a>
            </div>
        </div>
{% endblock content %}