{% extends "default.html" %} {% load static %}{% block content %}
    <aside id="fh5co-hero">
        <div class="flexslider">
            <ul class="slides">
                <li style="background-image: url({% static 'images/solar_1.jpg' %});">
                    <div class="overlay-gradient"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-pull-3 slider-text">
                                <div class="slider-text-inner">
                                    <h1>Use less than $100* of electricity a month?</h1>
                                    <h2>SunWork can make solar power work for you. </h2>
                                    <p><a class="btn btn-primary btn-learn" href="/systems">Learn More</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url({% static 'images/solar_2.jpg' %});">
                    <div class="overlay-gradient"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
                                <div class="slider-text-inner">
                                    <h1>Request Quote</h1>
                                    <h2>SunWork can make solar power work for you. </h2>
                                    <p><a class="btn btn-primary btn-learn" href="/request_site_survey">Learn More</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="background-image: url({% static 'images/solar_4.jpg' %});">
                    <div class="overlay-gradient"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
                                <div class="slider-text-inner">
                                    <h1>SunWork</h1>
                                    <h2>Renewable Energy Projects</h2>
                                    <p><a class="btn btn-primary btn-learn" href="/mission" target="blank">Learn
                                        More</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </aside>
    <div id="fh5co-services">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>About</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center animate-box">
                <div class="services">
                    <div class="desc">
                        <p>SunWork Renewable Energy Projects is a nonprofit in California's San Francisco Bay Area and
                            Central Coast that installs solar electricity systems on small-energy-footprint homes with
                            the help of trained volunteers.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="services">
                    <div class="desc">
                        <p>SunWork's innovative model lets it deliver solar power to homeowners with already modest
                            electricity use (and correspondingly low electricity bills) at a third less than the
                            conventional cost, allowing more people to make the switch to solar and enabling broader
                            adoption of this clean, safe, and renewable alternative to the sources of energy that
                            contribute to climate change.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="services">
                    <div class="desc">
                        <p>SunWork takes care of every aspect of a solar installation, from site analysis and system
                            design, to permitting and rebate paperwork, to installation, inspection, and continued
                            support. SunWork is deeply committed to creating a safe, energetic, enjoyable, and
                            meaningful experience for its volunteers, and to achieving the highest standard of quality
                            and convenience for its customers. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fh5co-work" class="fh5co-light-grey">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>Upcoming events</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center animate-box">
                <a href="https://www.eventbrite.com/e/going-solar-workshop-berkeley-1245-pm-to-145-pm-tickets-42342387220"
                   class="work" style="background-image: url(https://images2.imgbox.com/4b/71/RyIGFruG_o.jpg);">
                    <div class="desc">
                        <h3>Saturday, February 24, Going Solar Workshop</h3>
                        <span>Berkeley 12:45pm to 1:45pm</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 text-center animate-box">
                <a href="https://www.eventbrite.com/e/volunteer-solar-installer-orientation-with-sunwork-berkeley-215-pm-to-515-pm-tickets-42342282908"
                   class="work"
                   style="background-image: url(https://i.pinimg.com/564x/1c/a9/80/1ca98073b696a322b9cb7f0db4b72c4a.jpg);">
                    <div class="desc">
                        <h3>Saturday, February 24 volunteer training</h3>
                        <span>Berkeley 2:15pm to 5:15pm</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 text-center animate-box">
                <a href="https://www.eventbrite.com/e/volunteer-solar-installer-orientation-with-sunwork-milpitas-9am-to-noon-tickets-40883384303"
                   class="work"
                   style="background-image: url(https://n1pl6rd66126i54f3c41jd19-wpengine.netdna-ssl.com/wp-content/uploads/2016/03/milpitas-california-property-managers.jpg);">
                    <div class="desc">
                        <h3>Saturday, February 24 volunteer training</h3>
                        <span>Milpitas 9am to 12pm (Waitlist Only)</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="text-center">
            <a href="events">Click to view more events</a>
        </div>
    </div>
    <div id="fh5co-counter" class="fh5co-counters">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center animate-box">
                <p>
                    <iframe id="home-video" src="https://www.youtube.com/embed/hkbyfV0B-vw?rel=0" allowfullscreen=""
                            frameborder="0" height="315"></iframe>
                </p>
                <p>
                    * Additional <a style="color: rgb(64, 144, 255);" href="getting_started">qualification critiera</a>
                    and exceptions.
                    <br>
                    <a href="http://www.solarreviews.com/installers/sunwork-renewable-energy-projects-reviews/"
                       target="_blank" style="font-size: 11pt; font-weight: bold; color: rgb(64, 144, 255);">
                        <br> Read Reviews from Past Customers</a> |
                    <a href="request_site_survey" style="font-size: 11pt; font-weight: bold; color: rgb(64, 144, 255);">Request
                        a Free Site Survey</a>
                </p>
            </div>
        </div>
        <div class="row animate-box">

            <div class="col-md-center text-center">
                <span class="fh5co-counter js-counter" data-from="0" data-to="520" data-speed="1000"
                      data-refresh-interval="50"></span>
                <span class="fh5co-counter-label">Projects</span>

            </div>
        </div>
    </div>
    <div id="fh5co-blog" class="blog-flex">
        <div class="featured-blog fh5co-light-grey">
            <div class="desc-t">
                <div class="desc-tc">
                    <span class="featured-head">Featured Posts</span>
                    <h2><a href="http://www.sustainablesanmateo.org/home/awards/">SunWork Wins 2017 Sustainability Award
                        from Sustainable San Mateo County!</a></h2>
                    <span><a href="http://www.sustainablesanmateo.org/home/awards/"
                             class="read-button">Learn More</a></span>
                </div>
            </div>
        </div>
        <div class="blog-entry fh5co-light-grey">
            <div class="row animate-box">
                <div class="col-md-12">
                    <h2>Latest News</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11 animate-box">
                    <a href="http://sunwork.org/docs/BGCP_Solar_Release_with_Facebook_1_2018.pdf" class="blog-post">
                        <h4>Boys &amp; Girls Clubs' Bell Haven Clubhouse Installs Solar Panels &amp; Showcases Clean
                            Energy for Youth</h4>
                        <p>1/22/2018</p>
                    </a>
                </div>
                <div class="col-md-11 animate-box">
                    <a href="#" class="blog-post">
                        <h4>SunWork wins 2017 award from Yelp </h4>
                        <p>1/8/2018</p>
                    </a>
                </div>
                <div class="col-md-11 animate-box">
                    <a href="https://www.solarpowerworldonline.com/2018/01/spw-editors-california-install/"
                       class="blog-post">
                        <h4>Solar Power World Editors volunteer on SunWork installation</h4>
                        <p>1/1/2018</p>
                    </a>
                </div>
            </div>
            <a href="events/news">More news</a>
        </div>
    </div>
{% endblock content %}