{% extends "default.html" %}
{% block content %}


<div id="fh5co-work" class="fh5co-light-grey">
    <div class="row animate-box">
        <center><h2>Map</h2></center>
        <br><br>
        <center><iframe width="500" height="500" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col4+from+1pe2eOhBKnqTdXfZ0SsF5B_bmcbV87XHKRrtp870O&amp;viz=MAP&amp;h=false&amp;lat=37.38988664167245&amp;lng=-122.05116689531252&amp;t=1&amp;z=8&amp;l=col4&amp;y=3&amp;tmplt=3&amp;hml=GEOCODABLE"></iframe></center>

        
        
    </div>
    {% endblock content %}