{% extends "default.html" %} {% block content %}
<div id="fh5co-work" class="fh5co-light-grey">
    <div class="row animate-box">
        <center>
            <h2>Net Metering – How utilities pay you for your solar energy</h2></center>
            <br>
            <br>
            <p class="MsoNormal" style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;"><span class="m-3829904288094344669gmailmsg"><b style=""><span style="font-size: 14pt; line-height: 107%; color: rgb(34, 34, 34);"><span style="color: rgb(64, 144, 255);">Net Metering &#8211; How
            utilities pay you for your solar energy</span><o:p></o:p></span></b></span></p>
            <p class="MsoNormal" style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; line-height: normal;"><span style="color: rgb(34, 34, 34);">From the&nbsp;</span><span style="font-size: 9pt;"><a href="http://www.seia.org/policy/distributed-solar/net-metering" target="_blank"><span style="font-size: 11pt; color: rgb(17, 85, 204);">Solar
                Energy
            Industries Association</span></a></span><span style="color: rgb(34, 34, 34);">&nbsp;(SEIA): "Net
                metering
                is a billing mechanism that credits solar energy system owners for the
                electricity they add to the grid." Net Metering is short for &#8203;Net
                Energy
            Metering (NEM).</span><span style=""><o:p></o:p></span></p>
            <p class="MsoNormal" style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; line-height: normal;"><span style="color: rgb(34, 34, 34);">NEM basics:</span><span style=""><o:p></o:p></span></p>
            <ul type="disc">
                <li class="MsoNormal" style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; color: rgb(34, 34, 34); line-height: normal;"><span style="">During the day, your solar system generates energy.<o:p></o:p></span></li>
                <li class="MsoNormal" style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; color: rgb(34, 34, 34); line-height: normal;"><span style="">When you're away, most of&nbsp;your solar
                    energy will&nbsp;probably &#8203;go to the grid.<o:p></o:p></span></li>
                    <li class="MsoNormal" style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; color: rgb(34, 34, 34); line-height: normal;"><span style="">When you're home&nbsp;you may use some or all
                        of your solar energy, and you may need additional energy from the grid.
                        You may wind up sending energy to the grid, or taking some from the
                        grid.<o:p></o:p></span></li>
                        <li class="MsoNormal" style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; color: rgb(34, 34, 34); line-height: normal;"><span style="">During the night, all the energy you use will come
                            from the grid. (Batteries are a hot topic but most people who go solar
                            in 2017 won't be adding batteries.)<o:p></o:p></span></li>
                            <li class="MsoNormal" style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; color: rgb(34, 34, 34); line-height: normal;"><span style="">You're paid for your solar energy at close to the
                                same rate as you pay for grid energy.<o:p></o:p></span></li>
                            </ul>
                            <p class="MsoNormal" style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; line-height: normal;"><span style="color: rgb(34, 34, 34);">When you use more energy
                                than
                                you generate during a month (called a "billing cycle"), your
                                PG&amp;E
                                meter tracks how much you used from the grid. When you generate more
                                energy
                                than you use during a month, your meter tracks how much you sent to the
                                grid.
                                &#8203;At the end of the billing cycle, PG&amp;E lets you know how much
                                you owe them,
                                or how much they owe you.&nbsp;For example, if you use 400
                                kilowatt-hours
                                ("kWh" - the unit of energy PG&amp;E uses to bill you) <i>from</i>
                                the grid during a month, and you send 350 kWh of solar <i>to</i>
                                the grid
                                during that same month, you'd owe them for the "net" difference of 50
                                kWh. Because the monthly amounts are often small and because of
                                seasonal
                                variations, you'll either pay or be paid just once per year, called the
                                true-up.&nbsp;This happens approximately on the anniversary of your
                                solar
                                "interconnection" date. PG&amp;E has an easy short video about
                                NEM&nbsp;concepts&nbsp;on
                            their&nbsp;</span><span style="font-size: 9pt;"><a href="https://www.pge.com/en_US/residential/solar-and-vehicles/green-energy-incentives/solar-and-renewable-metering-and-billing/net-energy-metering-program-tracking/understand-net-energy-metering.page" target="_blank"><span style="font-size: 11pt; color: rgb(17, 85, 204);">Understanding
                            NEM</span></a></span><span style="color: rgb(34, 34, 34);">&nbsp;page.</span><span style=""><o:p></o:p></span></p>
                            <p class="MsoNormal" style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; line-height: normal;"><span style="color: rgb(34, 34, 34);">The following image showing
                                typical patterns of energy consumption and generation appears on
                            Wikipedia </span><span style="font-size: 9pt;"><a href="https://commons.wikimedia.org/wiki/File:Daily_net_metering.png"><span style="font-size: 11pt; color: rgb(64, 144, 255);">here</span></a><span style="color: rgb(34, 34, 34);">.</span></span><span style=""></span></p>
<p class="MsoNormal" style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; line-height: normal;"><span style=""><!--[if gte vml 1]><v:shapetype
id="_x0000_t75" coordsize="21600,21600" o:spt="75" o:preferrelative="t"
path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
<v:stroke joinstyle="miter"/>
<v:formulas>
<v:f eqn="if lineDrawn pixelLineWidth 0"/>
<v:f eqn="sum @0 1 0"/>
<v:f eqn="sum 0 0 @1"/>
<v:f eqn="prod @2 1 2"/>
<v:f eqn="prod @3 21600 pixelWidth"/>
<v:f eqn="prod @3 21600 pixelHeight"/>
<v:f eqn="sum @0 0 1"/>
<v:f eqn="prod @6 1 2"/>
<v:f eqn="prod @7 21600 pixelWidth"/>
<v:f eqn="sum @8 21600 0"/>
<v:f eqn="prod @7 21600 pixelHeight"/>
<v:f eqn="sum @10 21600 0"/>
</v:formulas>
<v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
<o:lock v:ext="edit" aspectratio="t"/>
</v:shapetype><v:shape id="Picture_x0020_2" o:spid="_x0000_i1027" type="#_x0000_t75"
alt="File:Daily net metering.png" style='width:530pt;height:505pt;
visibility:visible;mso-wrap-style:square'>
<v:imagedata src="file:///C:/Users/MIKEB~1/AppData/Local/Temp/msohtmlclip1/01/clip_image001.png"
o:title="Daily net metering"/>
</v:shape><![endif]--><!--[if !vml]--><img style="width: 573px; height: 546px;" src="../../../../MIKEB%7E1/AppData/Local/Temp/msohtmlclip1/01/clip_image002.png" alt="File:Daily net metering.png" v:shapes="Picture_x0020_2" border="0"><!--[endif]--></span><span style="font-size: 12pt; line-height: 107%; color: rgb(34, 34, 34);"><o:p></o:p></span><br>
<span style="font-size: 10pt; color: rgb(34, 34, 34);">The
    concepts are good, but there
    are some devils in the details. There are rate plans and tiers,
    territories,
    and time of use charges, and the &#8220;minimum bill.&#8221; Let&#8217;s take these in
order.</span><span style="font-size: 10pt;"><o:p></o:p></span></p>
<p class="MsoNormal" style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; line-height: normal;"><b><span style="font-size: 12pt; color: rgb(34, 34, 34);">Rate Plans
    &#8211; Baselines and Tiers
and Time of Use (TOU)</span></b><span style="font-size: 12pt;"><o:p></o:p></span></p>
<p class="MsoNormal" style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; line-height: normal;"><span style="font-size: 10pt; color: rgb(34, 34, 34);">Rate Plans
    are also known as
    Rate Schedules, and they determine how much you pay for energy based on
    how much
and/or when you consume it during the billing cycle.</span><span style="font-size: 10pt;"><o:p></o:p></span></p>
<p class="MsoNormal" style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; line-height: normal;"><span style="font-size: 10pt; color: rgb(34, 34, 34);">As a rate
    payer, you have some
    choice on which rate plan you adopt. E-1 (or E1) is the typical
    non-solar
    residential rate schedule. Under this plan, you pay a certain amount
    for each
    kWh you use up to a "baseline" number. The baseline varies with the
season and where you live (the PG&amp;E&nbsp;</span><span style="font-size: 5.5pt;"><a href="https://www.pge.com/nots/rates/PGECZ_90Rev.pdf" target="_blank"><span style="font-size: 10pt; color: rgb(17, 85, 204);">territory</span></a></span><span style="font-size: 10pt; color: rgb(34, 34, 34);">&nbsp;you
    live in, usually either "t" or "x" for the bay area) and
    ranges from about 210 to about 330 kWh/month. Once you've used more
    than your
    baseline (also known as Tier 1), you're charged at a higher rate for
    the next
    210 or 330 kWh or whatever amount your baseline was. This is called
    Tier 2. Everything
    above Tier 2 is Tier 3 and is billed at a yet higher amount. For E-1,
    Tier 1 is
    currently about $.18/kWh, Tier 2 is about $.24/kWh, Tier 3 is about
    $.40/kWh.
    For example, if your baseline quantity is 210 kWh/month and you use a
    total of
    600 kWh/month, you&#8217;d be charged $.18/kWh for the first 210 kWh ($37.80)
    plus
    $.24/kWh for the next 210 ($50.40) plus $.40/kWh for the remaining 180
    kWh
    ($72) for a total of $160.20. You can easily find your average cost per
    kWh by
    diving your total dollars by total kWh usage: $160.20 / 600 kWh =
$.26/kWh.</span><span style="font-size: 10pt;"><o:p></o:p></span></p>
<p class="MsoNormal" style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; line-height: normal;"><span style="font-size: 10pt; color: rgb(34, 34, 34);">Some rate
    plans include a&nbsp;<b>Time
    of Use&nbsp;(TOU)</b> feature. This means that you're charged
    most if you're
    using energy during "peak" hours and you're charged least during
    "off peak" hours. With some plans, there are also "partial
    peak" hours. For the common residential TOU plan E-TOU-A, rates range
    from
    about $.15/kWh for off-peak to about $.40/kWh for peak hours. E-TOU-A
    peak
    hours are 3pm to 8pm Monday - Friday (except holidays). All other times
    are off
    peak.&nbsp;E-TOU-A also has Tiers: the $.15/kWh above is for <i>baseline</i>
    off-peak, the $.40/kWh is for <i>above-baseline</i> peak
    hours. Some rate
    plans, like E-TOU-A have tiers and TOU, some have only tiers, some only
    TOU.&nbsp;Because there has been significant overlap between when
    the sun is
    up&nbsp;and peak hours, many solar customers have selected a TOU
    plan. And as
of January 2017 all PG&amp;E solar customers must be on a TOU plan.</span><span style="font-size: 10pt;"><o:p></o:p></span></p>
<p class="MsoNormal" style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; line-height: normal;"><span style="font-size: 10pt; color: rgb(34, 34, 34);">The images
    below show peaks and
    tiers for the E-TOU-A rate plan, for summer and winter. The two E-TOU-A
    tiers
    are named with and without &#8220;baseline credit&#8221; but the effect is the same
    as a
    lower per-kWh charge for a baseline quantity, and a higher per-kWh
    charge for
    additional usage. These charts, and much more information about TOU
    plans
appear at on their original PG&amp;E </span><span style="font-size: 5.5pt;"><a href="https://www.pge.com/en_US/residential/rate-plans/rate-plan-options/time-of-use-base-plan/time-of-use-plan.page#toua"><span style="font-size: 10pt; color: rgb(64, 144, 255);">Explore
    the
PG&amp;E Time-of-Use plans</span></a></span><span style="font-size: 8pt; color: rgb(34, 34, 34);"> </span><span style="font-size: 10pt; color: rgb(34, 34, 34);">page.</span><span style="font-size: 8pt; color: rgb(34, 34, 34);">&nbsp;</span><span style="font-size: 10pt; color: rgb(34, 34, 34);"> </span><span style="font-size: 10pt;"><o:p></o:p></span></p>
<p class="MsoNormal" style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;"><span style=""><!--[if gte vml 1]><v:shape
id="Picture_x0020_7" o:spid="_x0000_i1026" type="#_x0000_t75" alt="On weekdays, rates are lowest at all times except from 3 PM to 8 PM, when they are high; and on weekends and holidays rates are lowest all day."
style='width:540pt;height:216.35pt;visibility:visible;mso-wrap-style:square'>
<v:imagedata src="file:///C:/Users/MIKEB~1/AppData/Local/Temp/msohtmlclip1/01/clip_image003.jpg"
o:title="On weekdays, rates are lowest at all times except from 3 PM to 8 PM, when they are high; and on weekends and holidays rates are lowest all day"/>
</v:shape><![endif]--><!--[if !vml]--><img style="width: 575px; height: 230px;" src="../../../../MIKEB%7E1/AppData/Local/Temp/msohtmlclip1/01/clip_image004.jpg" alt="On weekdays, rates are lowest at all times except from 3 PM to 8 PM, when they are high; and on weekends and holidays rates are lowest all day." v:shapes="Picture_x0020_7" border="0"><!--[endif]--></span><span class="m-3829904288094344669gmailmsg"><span style="font-size: 12pt; line-height: 107%; color: rgb(34, 34, 34);"><o:p></o:p></span></span></p>
<p class="MsoNormal" style="line-height: normal;"><big><span class="m-3829904288094344669gmailmsg"><span style="font-size: 12pt; line-height: 107%; color: rgb(34, 34, 34);">&#8203;</span></span></big>
</p>
<p class="MsoNormal" style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; line-height: normal;"><span style=""><!--[if gte vml 1]><v:shape
id="Picture_x0020_8" o:spid="_x0000_i1025" type="#_x0000_t75" alt="On weekdays, rates are lowest at all times except from 3 PM to 8 PM, when they are high; and on weekends and holidays rates are lowest all day."
style='width:540pt;height:216.35pt;visibility:visible;mso-wrap-style:square'>
<v:imagedata src="file:///C:/Users/MIKEB~1/AppData/Local/Temp/msohtmlclip1/01/clip_image005.jpg"
o:title="On weekdays, rates are lowest at all times except from 3 PM to 8 PM, when they are high; and on weekends and holidays rates are lowest all day"/>
</v:shape><![endif]--><!--[if !vml]--><img style="width: 573px; height: 229px;" src="../../../../MIKEB%7E1/AppData/Local/Temp/msohtmlclip1/01/clip_image006.jpg" alt="On weekdays, rates are lowest at all times except from 3 PM to 8 PM, when they are high; and on weekends and holidays rates are lowest all day." v:shapes="Picture_x0020_8" border="0"><!--[endif]--></span><span class="m-3829904288094344669gmailmsg"><span style="font-size: 12pt; line-height: 107%; color: rgb(34, 34, 34);"><o:p></o:p></span><br>
<span style="font-size: 10pt; color: rgb(34, 34, 34);">Full
    details&nbsp;on all rate plans, tiers and TOU rates &#8203;are
beyond the scope of this article. It gets complicated!&nbsp;</span></span></p>
<p class="MsoNormal" style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; line-height: normal;"><span class="m-3829904288094344669gmailmsg"><span style="font-size: 10pt; color: rgb(34, 34, 34);">SunWork can
    help you
    think through rate plan choices. Note that from time to time,
    PG&amp;E changes
    per-kWh prices for all rate plans and tiers, and for which hours are
    considered
    peak, partial-peak and off-peak. One of the many benefits of going
    solar is you
    know in advance what you&#8217;ll be paying for the bulk of the electricity
    you use
over the next 25 years.</span></span><b><span style="font-size: 12pt; color: rgb(34, 34, 34);"><o:p></o:p></span></b></p>
<p class="MsoNormal" style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; line-height: normal;"><b><span style="font-size: 12pt; color: rgb(34, 34, 34);">Minimum
Bill - $10 per Month</span></b><span style="font-size: 12pt;"><o:p></o:p></span></p>
<p class="MsoNormal" style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; line-height: normal;"><span style="font-size: 10pt; color: rgb(34, 34, 34);">The&nbsp;minimum
    bill&nbsp;is how PG&amp;E has charged solar
    customers for using their wires and infrastructure. The minimum bill
    means all
    solar customers pay up to about $10/month for "transmission and
    distribution" fees, meaning substations and transformers and
    high-voltage
    pylons, the wires, the &#8220;line losses,&#8221; the labor and maintenance and
    overhead.
    If you use $10 per month or more of grid electricity, you won't be
    charged the
    minimum bill. Because the minimum bill cannot be offset with solar,
    most people
    choose to install enough solar to cover all but about $10/month worth
    of
    electricity from the utility. This is typically the economically
    optimal target
    unless you plan on adding electrical loads in the future such as an
    Electric
Vehicle.</span><span style="font-size: 10pt;"><o:p></o:p></span></p>
<p class="MsoNormal" style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; line-height: normal;"><b><span style="font-size: 12pt; color: rgb(34, 34, 34);">Final Points</span></b><span style="font-size: 12pt;"><o:p></o:p></span></p>
<p class="MsoNormal" style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; line-height: normal;"><span style="font-size: 10pt; color: rgb(34, 34, 34);">PG&amp;E&#8217;s
    rate plans and net metering policies can be
    confusing, but with California&#8217;s relatively high electricity prices
    (nearly
    double the US average) and strong commitment to clean energy, rooftop
    solar is
an excellent financial as well as environmental investment.&nbsp;</span><span style="font-size: 10pt;"><o:p></o:p></span></p>
<p class="MsoNormal" style="background: white none repeat scroll 0% 50%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; line-height: normal;"><span style="font-size: 10pt; color: rgb(34, 34, 34);">SunWork can
    help provide the information you need to assess your
home for solar.</span><span style="font-size: 10pt;"><o:p></o:p></span></p>
<p class="MsoNormal" style="line-height: normal;"><span style="font-size: 10pt;">Here is a <a href="docs/SunWork_Solar_Purchasing_Resource_Guide.pdf" target="_blank"><span style="color: rgb(64, 144, 255);">link</span></a>
    for additional
    information on going solar.<o:p></o:p></span></p>
    <p class="MsoNormal" style="line-height: normal;"><span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;,serif;"><o:p></o:p></span></p>
    <p class="MsoNormal" style="line-height: normal;"><span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;,serif;"><o:p></o:p></span></p>

    
</div>
</div>
{% endblock content %}