{% extends "default.html" %} {% block content %} {% load static %}
<div class="fh5co-light-grey padded-content">
    <div class="row animate-box">
        <center>
            <h2>Questions about Volunteering</h2>
        </center>
        <p>
            <a href="images/custom/image_03a_L.jpg"><img src="{% static 'images/new_volunteer1.jpg' %}" style="float: right; margin-left: 12px; margin-bottom: 8px;" alt="" height="110" width="130"></a> <b>What are the trainings like?</b>
        </p>
        <p>
            Right now, the trainings are pretty small and informal. They are a few hours of classroom-style information about the basic principles of solar, electricity, roofing, and construction, with an emphasis on safety. These trainings are supplemented by a safety meeting at the beginning of every install, and in-process training in the use of the different tools of the trade.
        </p>
        <p>
            <b>How do I sign up?</b>
        </p>
        <p>
            An automated sign-up process is being developed, but for now, just send an email to <a href="mailto:info@sunwork.org" style="color: rgb(64, 144, 255);">info@sunwork.org</a> to find out about upcoming training and install dates and to sign up.
        </p>
        <p>
            <b>How much time does an installation take?</b>
        </p>
        <p>
            Most of our installs can be finished in two eight-hour days. They are typically being held over weekends, Saturday and Sunday. However we sometimes have installs on Friday or earlier in the week. When we do installation for small nonprofit organizations, we usually have installation opportunties during the week as well.
        </p>
        <p>
            <b>How much experience do I need?</b>
        </p>
        <p>
            No experience of any kind is required &#8211; everything someone needs to know to fully participate in a SunWork install will be taught in the training and on site.
        </p>
        <p>
            <b>Who am I helping?</b>
        </p>
        <p>
            On top of present and future generations of human beings, and the Earth as a whole, the purchasers of SunWork systems benefit from the work volunteers provide and the lower cost that the work makes possible. Presently, the only people who are <a style="color: rgb(64, 144, 255);" href="/getting_started">eligible</a> to buy SunWork systems already have small energy footprints, which they have achieved by attention to conservation and efficiency.
        </p>
        <p>
            Occassionally we have installations for small nonprofit organizations such as churches or preschools. Here is a <a style="color: rgb(64, 144, 255);" href="systems/nonprofit">link</a> to some of our nonprofit installations.
        </p>
        <p>
            <b>What should I wear?</b>
        </p>
        <p>
            Please wear long pants and close-toed shoes. Tennis shoes or running shoes are best &#8211; they provide good traction and nimbleness while being gentle on the surfaces of roofs. Wearing clothing that you don't mind getting stained is highly recommended. It's possible to get through an install day without getting any roofing caulk or anti-seize compound on your clothes, but...
        </p>
        <p>
            SunWork provides gloves, protective eyeware, hard hats and knee guards.
        </p>
        <p>
            <b>How often must I re-train?</b>
        </p>
        <p>
            We are currently requiring volunteers to re-train if it has been more than one year since their last training or install.
        </p>
        <p>
            <span style="font-weight: bold;">Is there another way to satisfy the SunWork classroom training requirement?</span>
        </p>
        <p>
            If you are OSHA 10 certified, you can opt out of the SunWork classroom training. Just email us a photo of your certification card.
        </p>
        <p style="font-weight: bold;">
            I'm a home owner who wants solar, can I volunteer on my own home?
        </p>
        <p>
            Yes, home owerners can participate in the installation for their own home. SunWork training session is not required for home owners volunteering on their own home. Home owner participation is very helpful to SunWork and this may allow us to serve areas where we don't have many volunteers.
        </p>
        <p>
            <span style="font-weight: bold;">What's it like to volunteer?</span>
        </p>
        <p>
            Here is a <a style="color: rgb(64, 144, 255);" href="https://soundcloud.com/solarpowerworld/solar-speaks-editors-complete-a-solar-installation" target="_blank">podcast</a> from Solar Power World editors who volunteered on an SunWork installation.
        </p>
        <p>
            <img style="width: 432px; height: 324px;" alt="Solar Power World editors volunteer on SunWork installation" src="{% static 'images/volunteers_2.jpg' %}" align="top">
        </p>
        <p>
            You can also check out this video that highlights the volunteer experience.
        </p>
        <a style="color: rgb(64, 144, 255);" href="https://www.eventbrite.com/e/volunteer-solar-installer-orientation-with-sunwork-fremont-2-to-5-pm-tickets-19173385111" target="_blank">
            <iframe src="https://www.youtube.com/embed/06H625kHehk?rel=0" allowfullscreen="" frameborder="0" height="315" width="560"></iframe>
        </a>
    </div>
</div>
<div class="padded-content">
    <div class="row animate-box">
        <center>
            <h2>Upcoming Training</h2>
        </center>
        <h1>
            <a href="images/custom/image_03a_L.jpg"><img src="{% static 'images/new_volunteer1.jpg' %}"  style="float: right; margin-left: 12px; margin-bottom: 8px; width: 233px; height: 197px;" alt=""></a>
        </h1>
        <h1>Upcoming Training</h1>
        <p>
            <span style="font-weight: bold; color: black;">Saturday, February 24 from 2:15 pm to 5:15 pm</span>
            <br> Berkeley Library - North Branch
            <br> - Register <a href="https://www.eventbrite.com/e/volunteer-solar-installer-orientation-with-sunwork-berkeley-215-pm-to-515-pm-tickets-42342282908" style="color: rgb(64, 144, 255);">here</a>
        </p>
        <p>
            <span style="font-weight: bold; color: black;">Saturday, February 24 from 9 am to noon</span>
            <br> Sobrato Center for Nonprofits in Milpitas
            <br> - Register <a href="https://www.eventbrite.com/e/volunteer-solar-installer-orientation-with-sunwork-milpitas-9am-to-noon-tickets-40883384303" style="color: rgb(64, 144, 255);">here</a>
        </p>
        <p>
            <span style="color: black;">Saturday, February 24 from 9:30 am to 12:30 pm</span>
            <br> San Luis Obispo City/County Library
            <br> - Register <a href="https://www.eventbrite.com/e/volunteer-solar-installer-orientation-with-sunwork-san-luis-obispo-tickets-41374270557" style="color: rgb(64, 144, 255);">here</a>
        </p>
        <p>
            <span style="font-weight: bold; color: black;">Saturday, April 14 from 9 am to noon</span>
            <br> San Mateo Libary
            <br> - Register <a href="https://www.eventbrite.com/e/volunteer-solar-installer-orientation-with-sunwork-san-mateo-9am-to-noon-tickets-43106629088" style="color: rgb(64, 144, 255);">here
            </a>
        </p>
        <p>
            <b>Is there a way to stay informed on the next training date?</b>
        </p>
        <p>
            An automated sign-up process is being developed, but for now, just send an email to <a href="mailto:info@sunwork.org" style="color: rgb(64, 144, 255);">info@sunwork.org</a> to sign up for email updates on upcoming training. Let us know if you want to hear about training events in the East Bay, the Penninsula/South Bay or both.
        </p>
        <iframe src="https://www.youtube.com/embed/06H625kHehk?rel=0" allowfullscreen="" frameborder="0" height="315" width="560"></iframe>
    </div>
</div>
{% endblock content %}