{% extends "default.html" %} {% block content %}
<div id="fh5co-work" class="fh5co-light-grey">
    <div class="row animate-box">
        <center>
            <h2>SunWork Community Connection</h2></center>
        <br>
        <br>
        <span style="font-weight: bold;"></span><a style="color: rgb(64, 144, 255); font-weight: bold;" href="https://www.eventbrite.com/e/volunteer-solar-installer-orientation-with-sunwork-cupertino-2-5-pm-tickets-25331651652" target="_blank"><span style="text-decoration: underline;"></span></a><big><span style="font-weight: bold;">Newsletter
		</span><a style="color: rgb(64, 144, 255); font-weight: bold;" href="http://eepurl.com/cAEpc5" target="_blank">sign
		up</a><span style="font-weight: bold;"><span style="font-weight: bold;"> </span><br>
	</span></big>
        <big><span style="font-weight: bold;">&nbsp; <br> <span style="text-decoration: underline;">Past Issues</span></span></big>
        <br> <a style="color: rgb(64, 144, 255);" href="newsletter_Spring_Summer_2017.html"><big><span style="font-weight: bold;">Spring/Summer 2017</span></big></a><big><span style="font-weight: bold;"></span></big>
        <br>
        <center><big><span style="font-weight: bold;"><br>Fall 2017 issue</span></big><big><span style="font-weight: bold;"> </span></big> </center>
        <br>
        <center><b style=""><span style="font-size: 12pt; ">SunWork Celebrates 500th Installation!</span></b></center>
        <br>
        <div class="col-md-4 text-center animate-box">
            <a href="/system_photos" class="work" style="background-image: url(../static/images/newsletter_1.jpg);">
                <div class="desc">
                    <h3>SunWork</h3>
                    <span>View More</span>
                </div>
            </a>
        </div>
        <p> As SunWork approached its 500th installation in June 2017, Sara Webber, Executive Director of the Berkeley Food Network, stopped by the SunWork booth at the Berkeley Farmers’ Market to talk about solar. Sara’s husband, Leif Brown, Director of Documentation at Databricks, followed up, and their installation in late June, with Leif helping as a volunteer, was SunWork’s 500th installation. The first SunWork installation was in 2009 and the 100th installation was in 2014. Now, just three years later, the 500th installation is complete along with a celebration and an article in the <span><a style="color: rgb(64, 144, 255);" href="http://www.mercurynews.com/2017/08/04/solar-nonprofit-volunteers-celebrate-milestone-at-berkeley-home/"><span >San Jose Mercury News</span></a><span>.&nbsp;<a style="color: rgb(64, 144, 255); font-weight: bold;" href="500th_installation.html">READ MORE ...</a></span></span><span><br><br>
			<b style=""><span >SunWork Partners to Help Oakland&#8217;s Harbor House Go Solar<o:p></o:p></span></b>
        </p>
        <p class="MsoNormal" style="line-height: normal;"><span>SunWork has partnered with
				nonprofit RE-volv for several nonprofit solar installations around the Bay Area.<span style="">&nbsp; </span>RE-volv focuses on financing solar systems for nonprofits and has a unique revolving credit line model that allows nonprofits to go solar with no money down.<span style="">&nbsp;
				</span>RE-volv worked with Harbor House providing the financing and partnered with SunWork for the installation.
            <o:p></o:p>
            </span>
        </p>
        <p class="MsoNormal" style="line-height: normal;"><img style="float: right; width: 292px; height: 218px;" alt="Celebration of Harbor House Solar Installation" src="../static/images/newsletter_2.jpg" hspace="3"><span>Harbor House, founded in 1972,
					serves the Oakland Community and offers after-school programs and leadership
					training for children and teens, ESL classes, jobs skills training, a food
					pantry and more. They&#8217;re giving the community a second place to call home and
					making it a safe space to grow and learn. <o:p></o:p></span></p>
        <p class="MsoNormal" style="line-height: normal;"><span>SunWork designed the system and with
						the help of many volunteers built the 14.4 kW solar system with 48 solar panels
						that will reduce Harbor House&#8217;s electric bills by roughly 39%, and saving around
						$111,000 over 25 years. The money saved will help improve the quality of Harbor
						House services and enable them to serve more of the community. That's a lot of
						snacks for the children!<span style="">&nbsp;&nbsp;</span><a style="color: rgb(64, 144, 255); font-weight: bold;" href="http://www.sunwork.org/Casestudies_Nonprofit">READ MORE ...</a></span>
        </p>
        <big><span style="font-weight: bold;">Expansion Brings SunWork to California's Central Coast</span></big>
        <p><img style="float: left; width: 573px; height: 321px;" alt="SunWork first installation in San Luis Obispo" src="../static/images/newsletter_3.jpg" hspace="3">
        </p>
        <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: center; line-height: normal;" align="center"><span>Mayor Heidi Harmon
							and Council Member Aaron Gomez, both kneeling, joined the SunWork volunteers, homeowner
							Deborah Marcus, and others to celebrate this first solar installation by
						SunWork in the San Luis Obispo area.</span><b><span ><o:p></o:p></span></b></p>
        <p><span><span>SunWork
							is bringing its innovative nonprofit solar model to the greater San 
							Luis Obispo (SLO) and northern Santa Barbara County areas. In September,
							Project Lead Bryan Noel completed three installations in the SLO area 
							with the assistance of newly trained local volunteers.<br>
							&nbsp;<br>
							In December, another wave of installations will take place as Bryan 
							further ramps up SunWork&#8217;s efforts.&nbsp; By March of 2018, Bryan will 
							complete his projects in the SF Bay Area, allowing him to bring 
							lower-cost solar to his new territory on a full-time basis.&nbsp; If you know
							anyone in the Central Coast who might be interested in solar, please 
							let them know that SunWork is on the way!<br>
							&nbsp;<br>
						For a summary of SunWork&#8217;s first project in the SLO area, </span><a rel="nofollow" href="San_Luis_Obispo.html" style="font-weight: normal; text-decoration: underline; color: rgb(64, 144, 255);"><strong>READ MORE...</strong></a></span>
        </p>
        <p><big><span style="font-weight: bold;"></span></big><b><span >Solar and Electric Vehicles (PV + EV)</span></b><span></span>
            <br><img style="float: right; width: 266px; height: 134px;" alt="Electric Vehicle Plus Solar  - A Great Combination" src="../static/images/newsletter_4.png" hspace="3">
        </p>
        <p class="MsoNormal" style="line-height: normal;"><span>More than 500,000 homes in California have
							rooftop solar. There are over 100,000 fully electric vehicles (over 250,000
							including plug-in hybrids) in California. About 20% of SunWork customers have
						both solar and an electric vehicle.</span><span style=""><o:p></o:p></span></p>
        <p class="MsoNormal" style="line-height: normal;"><span>Powering an EV with rooftop solar means driving
							far cleaner cars for far less money. <a style="color: rgb(64, 144, 255); font-weight: bold;" href="EV.html">READ MORE..</a></span><span style=""><o:p></o:p></span></p>
        <p class="MsoNormal" style="line-height: normal;"><small><small><span ></span></small></small><span style="font-size: 12pt;"><o:p></o:p></span></p>
        </p>
    </div>
</div>
{% endblock content %}