{% extends "default.html" %} {% block content %}
<div id="fh5co-work" class="fh5co-light-grey">
    <div class="row animate-box">
        <center>
            <h2>Systems for Nonprofit Organizations</h2>
        </center>
        <p>
            SunWork installs solar systems for small nonprofit organizations. These systems help nonprofits reduce their electric bills enabling them to deliver more services to the community. The systems also increase the clean renewable energy produced locally. Here are examples of our projects.
        </p>
        <p>
            <span style="font-weight: bold; text-decoration: underline;">Current Projects</span>
        </p>
        <p>
            <a style="color: rgb(64, 144, 255);" href="http://www.sfei.org/">San Francisco Estuary Institute</a> - Richmond - 17.4 kW
        </p>
        <p>
            <span style="font-weight: bold; text-decoration: underline;">Completed Projects</span>
        </p>
        <p>
            <a style="color: rgb(64, 144, 255);" href="http://thefaithbcofoakland.org/">Faith Baptist Church</a>, Oakland - 6.1 kW
            <br>Installed with funding partner <a style="color: rgb(64, 144, 255);" href="http://www.re-volv.org">RE-volv.org</a>
            <br>
            <img src="../static/images/nonpro1.jpg" style="width: 261px; height: 197px;" alt="Faith Baptist Church Solar System">
            <img style="width: 265px; height: 197px;" alt="Volunteers on Faith Baptist Church installation" src="../static/images/nonpro2.jpg">
        </p>
        <p>
            <a style="color: rgb(64, 144, 255);" href="https://www.bgcp.org/">Boys and Girls Club in Belle Haven</a>, Menlo Park - 24.4 kW
            <br> Installed with <a style="color: rgb(64, 144, 255);" href="../static/docs/BGCP_Solar_Release_with_Facebook_1_2018.pdf" target="_blank">funding from Facebook</a> and support from <a style="color: rgb(64, 144, 255);" href="http://menlospark.org/" target="_blank">Menlo Spark</a>
            <br>
            <img style="width: 223px; height: 306px;" alt="SunWork Volunteers Complete Installation" src="../static/images/nonpro3.jpg">
            <img style="width: 300px; height: 185px;" alt="Boys &amp; Girls Club Solar Installation" src="../static/images/nonpro4.jpg">
        </p>
        <p>
            <a style="color: rgb(64, 144, 255);" href="https://www.holycrosscv.org/">Holy Cross Episcopal Church</a> in Castro Valley - 29.1 kW
            <br><img style="width: 490px; height: 275px;" alt="Holy Cross Episcopal Church installation" src="../static/images/nonpro5.jpg">
        </p>
        <p>
            <a style="color: rgb(64, 144, 255);" href="http://www.thriftbox.org/">Thrift Box</a> in San Jose - 26.7 kW
            <br>
            <img style="border: 0px solid ; width: 493px; height: 262px;" alt="Volunteers from BMW helped install solar panels for the Thrift Box" src="../static/images/nonpro6.jpg">
        </p>
        <p>
            Piedmont Community Church in Piedmont - 21.5 kW
            <br><img style="width: 386px; height: 686px;" alt="Piedmont Community Church solar installation" src="../static/images/nonpro7.jpg">
        </p>
        <p>
            <a style="color: rgb(64, 144, 255);" href="http://hhministries.org/" target="_blank">Harbor House Ministries</a> in Oakland - 14.4 kW
            <br>Installed with funding partner <a style="color: rgb(64, 144, 255);" href="https://www.re-volv.org">RE-volv.org</a>, panels donated by Jinko Solar
            <br><img style="width: 497px; height: 371px;" alt="Harbor House Installation" src="../static/images/nonpro8.jpg">
        </p>
        <p>
            <a style="color: rgb(64, 144, 255);" href="http://www.cots-homeless.org/">Committee on the Shelterless</a> phase 2 in Petaluma - 19.2 kW
            <br>
            Funding through nonprofit partner <a style="color: rgb(64, 144, 255);" href="http://www.everybodysolar.org/">Everybody Solar</a>
            <br>
            <img style="border: 0px solid ; width: 444px; height: 253px;" alt="Committee on the Shelterless - Phase 2" src="../static/images/nonpro9.jpg">
        </p>
        <p>
            <a style="color: rgb(64, 144, 255);" href="http://saintsalive.net/" target="_blank">All Saints Episcopal Church</a> in San Leandro - 9.24 kW - <a style="color: rgb(64, 144, 255);" href="cases">Case Study</a>
            <br>
            <img style="width: 259px; height: 194px;" alt="9.24 kW System at All Saints Church in Petaluma" src="../static/images/nonpro10.jpg">
            <img style="border: 0px solid ; width: 168px; height: 224px;" alt="Reverand Justin Cannon overlooking solar system" src="../static/images/nonpro11.jpg">
        </p>
        <p>
            <a style="color: rgb(64, 144, 255);" href="http://www.cmsj.org/" target="_blank">Chinmaya Mission</a> in San Jose - 43.7 kW
            <br>
            <img style="width: 360px; height: 203px;" alt="43.7 kW system at Chinmaya Mission in San Jose" src="../static/images/nonpro12.jpg">
        </p>
        <p>
            <a style="color: rgb(64, 144, 255);" href="http://www.cots-homeless.org/" target="_blank">Community on the Shelterless (COTS)</a> in Petaluma - 19.2 kW
            <br> Funding through nonprofit partner <a style="color: rgb(64, 144, 255);" href="http://www.everybodysolar.org/">Everybody Solar</a>
            <br>
            <img style="width: 259px; height: 389px;" alt="19.2 kW system in Petaluma - Committee on the Shelterless" src="../static/images/nonpro13.jpg">
        </p>
        <p>
            <span style="font-weight: bold; text-decoration: underline;"></span><a style="color: rgb(64, 144, 255);" href="http://www.ehpcares.org/" target="_blank">Ecumenical Hunger Project</a> in East Palo Alto - 29.4 kW
            <br>
            <img style="width: 340px; height: 512px;" src="../static/images/nonpro14.jpg" alt="">
        </p>
        <p>
            <a style="color: rgb(64, 144, 255);" href="http://www.nilesdiscoverychurch.org/" target="_blank">Niles Discover Church</a> in Fremont - 23.5 kW
            <br>
            <img style="width: 648px; height: 183px;" src="../static/images/nonpro15.jpg" alt="">
        </p>
        <p>
            <a style="color: rgb(64, 144, 255);" href="http://heritageparkmuseum.org/sample-page/the-museum/solar-installation/">Sunnyvale Heritage Park Museum</a> - 20.5 kW
            <br>
            <img style="width: 482px; height: 321px;" src="../static/images/nonpro17.jpg" alt="">
        </p>
        <p>
            <a style="color: rgb(64, 144, 255);" href="http://www.eastside.org/" target="_blank">Eastside College Preparatory School</a> in East Palo Alto - 4.2 kW
            <br>
            <img style="width: 411px; height: 231px;" alt="Volunteer attaches panels" src="../static/images/nonpro18.jpg">
        </p>
        <p>
            Palo Alto Church - Saint Albert the Great - 35 kW
            <br>
            <img style="width: 477px; height: 315px;" alt="Volunteers complete installation at Palo Alto Church" src="../static/images/nonpro19.jpg">
        </p>
        <p>
            <a style="color: rgb(64, 144, 255);" href="http://www.wildlifeassociates.org/index.html" target="_blank">WildLife Associates</a> - 27 kW system in Half Moon Bay
            <br> Funding through nonprofit partner <a style="color: rgb(64, 144, 255);" href="http://www.everybodysolar.org/">Everybody Solar</a>, solar panel donation from <a style="color: rgb(64, 144, 255);" href="http://www.jinkosolar.com/">Jinko Solar</a>
            <br> Inverter donation <a style="color: rgb(64, 144, 255);" href="https://enphase.com/en-us" target="_blank">Enphase</a>, mounting hardware from <a style="color: rgb(64, 144, 255);" href="http://www.mounting-systems.us/" target="_blank">Mounting Systems</a>
            <br>
            <img style="width: 232px; height: 232px;" alt="Wildlife Associates 27 kW solar installation" src="../static/images/nonpro20.jpg"><img style="width: 314px; height: 232px;" alt="Jinko Volunteers help out with WilfLife Associates installation" src="../static/images/nonpro21.jpg">
            <br>
            <img style="border: 0px solid ; width: 544px; height: 305px;" alt="Bruce Holaday, Wildlife Associates Ex. Dir. talks about SunWork installation" src="../static/images/nonpro22.jpg">
            <br>
            Bruce Holaday, Wildlife Associates Executive Director - check out the <a style="color: rgb(64, 144, 255);" href="https://www.youtube.com/watch?v=_ZrJvzhB2PI" target="_blank">video</a>
        </p>
        <p>
            Other Avenues Food Coop - 32 kW system in San Francisco
            <br>
            Funded through Power Purchase Agreement with nonprofit partner <a style="color: rgb(64, 144, 255);" href="http://re-volv.org/projects" target="_blank">RE-volv</a>
            <br>
            <img style="width: 505px; height: 673px;" src="../static/images/nonpro23.jpg" alt="">
        </p>
        <p>
            Our Lady of the Rosary Church - 27 kW system in Palo Alto
            <br>
            <img style="width: 505px; height: 379px;" src="../static/images/nonpro24.jpg" alt="">
        </p>
        <p>
            Kehilla Community Synagogue - 22 kW system in Piedmont, CA
            <br>
            Funded through Power Purchase Agreement with nonprofit partner <a style="color: rgb(64, 144, 255);" href="https://re-volv.org/project/kehillacommunitysynagogue/">RE-volv</a>
            <br>
            Check out the <a style="color: rgb(64, 144, 255);" href="https://www.youtube.com/watch?v=zDm7nUvtFTE">time lapse video</a> of the installation
            <br>
            <img style="width: 508px; height: 267px;" src="../static/images/nonpro25.jpg" alt="">
        </p>
        <p>
            Parents Nursery School - 4 kW system in Palo Alto
            <br style="font-family: Helvetica,Arial,sans-serif;">
            <img style="width: 137px; height: 206px;" alt="Parents nursery school" src="../static/images/nonpro26.jpg">
            <img style="width: 238px; height: 106px;" alt="Parents nursery school2" src="../static/images/nonpro27.jpg" align="top">
            <br style="font-family: Helvetica,Arial,sans-serif;">
        </p>
        <p>
            Rebuilding Together Peninsula &#8211; 21 kW system in Redwood City
            <br style="font-family: Helvetica,Arial,sans-serif;"> Funding through nonprofit partner <a style="color: rgb(64, 144, 255);" href="http://www.everybodysolar.org/" target="_blank">Everybody
                Solar</a> and solar panel donations from Jinko Solar
            <br style="font-family: Helvetica,Arial,sans-serif;">
            <img style="width: 305px; height: 147px;" alt="Rebuilding together Peninsula" src="../static/images/nonpro28.jpg">
            <img style="width: 107px; height: 147px;" alt="Rebuilding together" src="../static/images/nonpro29.jpg">
        </p>
        <p>
            Shawl-Anderson Dance Center &#8211; 10 kW system in Berkeley
            <br style="font-family: Helvetica,Arial,sans-serif;"> Funded through Power Purchase Agreement with nonprofit partner <a style="color: rgb(64, 144, 255);" href="https://re-volv.org/project/shawl-andersondancecenter/" target="_blank">RE-volv</a>
            <br>
            <img style="width: 267px; height: 202px;" alt="Shawl Andersen dance center" src="../static/images/nonpro30.jpg">
            <img style="width: 270px; height: 203px;" alt="Shawl Andersen" src="../static/images/nonpro31.jpg"></p>
        <p>
            The Catholic Worker House &#8211; 5 kW system in Redwood City
            <br>
            <img style="width: 425px; height: 319px;" alt="Catholic worker house" src="../static/images/nonpro32.jpg">
        </p>
    </div>
</div>
{% endblock content %}