{% extends "default.html" %} {% block content %} {% load static %}
<div id="fh5co-work" class="fh5co-light-grey">

 <div class="row animate-box">
        <center><h2>Objectives</h2></center>
     <p><a href="images/custom/image_0a_L.jpg"><img src="{% static 'images/image_02a.jpg' %}" style="float: right; margin-left: 12px; margin-bottom: 8px;" alt="" height="110" width="130"></a>
         The projects SunWork is devoted to are inspired and guided by the following five objectives:</p>
     <p>•	Promoting the introduction of renewable energy systems into residential neighborhoods in the San Francisco Bay Area.</p>
     <p>•	Reducing the reliance of the San Francisco Bay Area on traditional pollution-causing, non-renewable sources of energy.</p>
     <p>• Increasing attention and interest in photovoltaics specifically and renewable energy generally, encouraging the investment of further resources into the improvement of photovoltaic technologies and the development of new approaches to renewable energy. </p>
     <p> • Extending the pool of individuals with practical experience and procedural knowledge of renewable energy systems, to support expanding demands of this field for skilled workers and to position individuals for rewarding employment opportunities. </p>
     <p> • Presenting a genuine workable and visible alternative to traditional pollution-causing, non-renewable sources of energy that can be seen and considered by people in other areas. </p>
 </div>
</div>
{% endblock content %}