{% extends "default.html" %} {% block content %} {% load static %}
<div id="fh5co-work" class="fh5co-light-grey">

 <div class="row animate-box">
        <center><h1>Philosophy</h1></center>
     <h2>Individual Acts and Collective Solutions to Climate Change</h2>
     <p><img src="{% static 'images/image_02b.jpg' %}" style="float: right; margin-left: 12px; margin-bottom: 8px;" alt="" height="110" width="130">
          The environmental crisis is a big problem. Or rather it is a collection of big problems. And big problems cannot be solved through the actions of
            a single individual in isolation. They require collective action. But collective action is just the union of the complementary actions of
            individuals. The best actions like these have two features – each action helps go part of the way towards solving the problem, and enough
            of them together hold the promise of being able to solve it entirely. </p>
     <p> Global climate change is one of these big problems, maybe the most visible one today. There are individual actions people are taking
        in response to it. Acts of conservation and moderation have the first above feature. Every light turned off in a room that no one is in,
        every mile carpooled to work or traveled on a bicycle instead of a car, every local purchase prevents, directly or indirectly, some present or
        future input to the causes of abrupt climate change. But although these acts in combination can slow climate change, and are indeed necessary
        for any full solution to be achievable, by themselves they are not a solution to the problem, even in sufficient mass. That is not their
        nature. They draw more lightly on the sources of energy that contribute to climate change. They are not involved in changing these sources. So
        individuals need more than this to solve the problem of climate change together. </p>
     <p> Political acts have the second needed feature. With enough votes for the significant kinds of laws and policies and the legislators committed to them, climate change could certainly be
            curtailed. It would not come without costs, but these costs are worth it in the eyes of many people, the people who cast their votes this
            way, the people who contact their representatives about these concerns. But the difference that can be made by these sorts of acts of
            citizenship is frustrated to a large degree when their numbers are modest. Our initiatives track the will of the majority, and so normally
            do our representatives. So while enough votes has the promise of being able to solve the problem of climate change, short of this number each
            brings little to show for itself out into the world. This is a source of a great deal of frustration for people championing environmental
            causes, who often find themselves in the minority, fighting fights with only a small fraction of their energies yielding tangible fruits that they can take courage in. </p>
     <p> SunWork combines both of these features. The premise at the heart of SunWork is that the alternatives to the energy sources that contribute to climate change exist, but that economics checks their
            dispersion on the scale that is needed to really address climate change in a significant way. SunWork changes these economics through the acts
            of individuals. These volunteers install systems of one of these alternative sources of energy, making them affordable in a way that
            would not exist otherwise. Each act goes part of the way towards solving the problem of climate change. Each system installed supplies energy without contributing to the causes of climate change, and
            eliminates some of the need for the sources that do. And in enough mass, the systems that these volunteers install can change the shape of
         our energy landscape, all the way down to its bedrock. </p>
 </div>
</div>
{% endblock content %}