{% extends "default.html" %}


{% block content %}

    <div class="fh5co-loader"></div>

    <div id="page">
        <div class="container-wrap">
            <div id="fh5co-contact">
                <div class="row animate-box">
                    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                        <h2>Request Site Survey</h2>
                    </div>
                </div>


                <div style="width:100%;">
                    <div style="width:35%; float:left;">

                        <p>SunWork Renewable Energy Projects is a nonprofit in California's San Francisco Bay Area that
                            installs solar electricity systems on small-energy-footprint homes with the help of trained
                            volunteers.

                            SunWork's innovative model lets it deliver solar power to homeowners with already modest
                            electricity use (and correspondingly low electricity bills) at a third less than the
                            conventional cost, allowing more people to make the switch to solar and enabling broader
                            adoption of this clean, safe, and renewable alternative to the sources of energy that
                            contribute
                            to climate change.

                            SunWork takes care of every aspect of a solar installation, from site analysis and system
                            design, to permitting and rebate paperwork, to installation, inspection, and continued
                            support.
                            SunWork is deeply committed to creating a safe, energetic, enjoyable, and meaningful
                            experience
                            for its volunteers, and to achieving the highest standard of quality and convenience for its
                            customers.
                        </p>

                    </div>
                    <div class="col-md-push-1 animate-box"
                         style="float: right; width: 65%; padding-top: 2em; padding-left: 2em">
                        <form method="POST" action="https://formspree.io/info@sunwork.org" target="_blank">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input name="Name" type="text" class="form-control" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input name="Email" type="text" class="form-control" placeholder="Email">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input name="Phone" type="text" class="form-control" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input name="Monthly Electricity Bill" type="text" class="form-control" placeholder="Monthly Electricity Bill">
                                    </div>
                                </div>
                                <div class="col-md-6" style="width: 100%;">
                                    <div class="form-group">
                                        <input name="Site Address" type="text" class="form-control" placeholder="Site Address">
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <div class="form-group">
                                    <textarea name="Message" class="form-control" id="" cols="30" rows="7"
                                              placeholder="Message"></textarea>
                                    </div>
                                </div>


                                <div class="col-md-12 float-right" >
                                    <div class="form-group">
                                        <input type="submit" value="Send Message" class="btn btn-primary btn-modify">
                                    </div>
                                </div>




                            </div>
                        </form>
                    </div>

                    <div style=" clear: both;">
                        <p>
                            To arrange a free site survey and conference, please send an inquiry to info@sunwork.org,
                            contact us
                            by phone at (650) 520-9918, or use the form below. A SunWork project lead will follow up
                            with
                            you
                            promptly.
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
    </div>

{% endblock content %}