{% extends "default.html" %} {% block content %}
<div id="fh5co-work" class="fh5co-light-grey">
    <div class="row animate-box">
        <center>
            <h2>SunThink!</h2></center>
        <br>
        <br>
        <div class="col-md-4 text-center animate-box">
            <a href="../static/images/sunthink_1.jpg" class="work" style="background-image: url(../static/images/sunthink_1.jpg);">
                <div class="desc">
                    <h3>SunThink!</h3>
                    <span>View More</span>
                </div>
            </a>
        </div>
        <br>
        <br>
        <p>SunThink! is a computer application we built to be a resource to consult as one part in designing a solar system well. It gives an accurate and all-embracing picture of the solar resource that a site has available to it, and it aids in determining the size of system that fits the exact aims an individual has for a system.
            <br>
    </div>
</div>
{% endblock content %}