{% extends "default.html" %} {% block content %}
<div id="fh5co-work" class="fh5co-light-grey">
    <div class="row animate-box">
        <center>
            <h2>SunThink! What It Does</h2></center>
        <br>
        <br>
        <div class="col-md-4 text-center animate-box">
            <a href="../static/images/sunthink_2.jpg" class="work" style="background-image: url(../static/images/sunthink_2.jpg);">
                <div class="desc">
                    <h3>SunThink!</h3>
                    <span>View More</span>
                </div>
            </a>
        </div>
        <br>
        <br>
        <p>SunThink! is a computer application we built to be a resource to consult as one part in designing a solar system well. It gives an accurate and all-embracing picture of the solar resource that a site has available to it, and it aids in determining the size of system that fits the exact aims an individual has for a system.
            <br>
            <br> comprehensive orientation factors (comparing available solar irradiation for a plane of a given orientation to the irradiation available to a plane at a south-facing azimuth and tilt equal to the latitude), sensitive to atmospheric thickness and local cloud-coverage history if entered,
            <br>
            <br> shading profile factors (quantifying the effect of shading from described sources on the amount of irradiation available at one or more points)
            <br>
            <br> designed system attributes such as wiring losses, and aspects of system generation outlook including peak, annual, monthly, and time-of-use weighted generation,
            <br>
            <br> for solar electricity systems with a variety of chosen system characteristics. Its primary purpose is to facilitate the accurate, appropriate sizing of these systems to fit the specific design goals that are held for them.
            <br>
            <br> The computations performed by SunThink! are based on sums of evaluated integrals of direct and diffuse irradiance, involving mathematically expressed sun position, plane orientation, and global and plane sunrise and sunset, and using a fourth-order cosine-polynomial fit of the Young (1992) interpolative formula for airmass with the Meinel experimentally determined expression for intensity to compensate for atmospheric extinction. This is modified for cloud coverage using a second-order fit of specific local historical cloud-coverage behavior with an expression tuned according to available historical NREL insolation data for sites at different geographic and climatic locations.
            <br>
            <br> SunThink! provides several key aspects of functionality that are not present in PVWATTS, the National Renewable Energy Laboratory performance calculator for grid-connected photovoltaic systems. These include, notably, the tailoring of data to the cloud-coverage patterns of a region, the ability to forecast production losses from shading based on sets of angular shade-source data, and the ability to calculate weighted production numbers according to the relative weighting of electricity price in time-of-use utility rate schedules.
            <br>
            <br>
    </div>
</div>
{% endblock content %}