{% extends "default.html" %}
{% block content %}


<div id="fh5co-work" class="fh5co-light-grey">
	<div class="row animate-box">
		<center><h2>SunThink! How To Use It</h2></center>
		<br><br>
		<div class="col-md-4 text-center animate-box">
			<a href="../static/images/sunthink_2.jpg" class="work" style="background-image: url(../static/images/sunthink_2.jpg);">
				<div class="desc">
					<h3>SunThink!</h3>
					<span>View More</span>
				</div>
			</a>
		</div>
		<br><br><p>To
			run SunThink!, you must have Scilab installed on your computer.
			Scilab is a free, open source platform for numerical computation. It is
			available for download for Windows and other operating systems at <a href="http://www.scilab.org/">www.scilab.org</a>.
			(The current version of SunThink was designed with the 5.2.2 release of
		Scilab, and it has only been tested with this release.) </p>
		<p> Once Scilab is installed, right click on the SunThink.sce
			file located inside the downloaded SunThink folder, and select the 'Run
			with scilab' option to load SunThink!<br> <br>
			

			
			
		</div>

		
		
	</div>
	{% endblock content %}