{% extends "default.html" %} {% block content %} {% load static %}
<div id="fh5co-work" class="fh5co-light-grey">
    <div class="row animate-box">
        <center>
            <h2>Support</h2>
        </center>
        <p>
            <img src="{% static 'images/image_02a.jpg' %}" style="float: right; margin-left: 12px; margin-bottom: 8px;" alt="" height="110" width="130">SunWork's operations are structured to be self-sufficient monetarily. This is essential to keeping it from competing for resources with other organizations with complementary missions, and to allowing its model to be easily expanded or recreated elsewhere.
        </p>
        <p>
            SunWork's operational costs are covered by charges applied to its solar electricity system installations. The main "outside" support it rests on are the resources donated by its volunteers – their time, enthusiasm, and effort – although properly speaking the volunteers are every bit as internal to the SunWork team as its directors or staff.
        </p>
        <p>
            SunWork's office and warehouse are located the Sobrato Center for Nonprofits in Milpitas. And we thank the Sobrato Foundation for supporting our mission in this way.
        </p>
    </div>
</div>
{% endblock content %}