{% extends "default.html" %}
{% block content %}


<div id="fh5co-work" class="fh5co-light-grey">
	<div class="row animate-box">
		<center><h2>Systems</h2></center>
		
		
		<center><br><br><p>SunWork's nonprofit volunteer model offers solar power for a third below conventional cost, while providing community members with free green job training. SunWork is a complete, or "turnkey", system provider – like most traditional solar installers today. This means that within the compass of installing a solar electricity system, all of the following elements are delivered:.<br>
			<div class="col-md-4 text-center animate-box">
				<a href="/system_photos" class="work" style="background-image: url(../static/images/systems_1.jpg);">
					<div class="desc">
						<h3>SunWorks</h3>
						<span>View More</span>
					</div>
				</a>
			</div><br></center>
			• Consultation for interested homeowners about how suited their home is for solar, about the system size and configuration that would best match their goals, and about the cost and financial return they could expect from a solar purchase. <br><br>
			• Complete design and engineering work to achieve a system tailored to the unique details of a particular home. <br><br>
			• Procurement of system components and required building permits.
			<br><br>
			• Mechanical and electrical installation of the solar panels and the other components of the designed system – accomplished working with the help of volunteers.
			<br><br>
			• Processing of utility interconnection and rebate paperwork (where applicable) and guidance on submitting for the federal tax credit available for solar installations.
			<br><br>
		• Continued support for the installed system. </p>
	</div>
	<br><br>
	<p>SunWork aims at a standard of quality and convenience for homeowners in its product and service to match the best of traditional solar contractors. Each SunWork solar installation is covered by a complete ten-year warranty against system or component breakdown.
		<br><br>
	Check out this customer from a SunWork installation.</p> <center><iframe src="https://www.youtube.com/embed/wuCsQKVX_t4?rel=0" allowfullscreen="" frameborder="0" height="315" width="560"></iframe></center>
	
	
</div>
{% endblock content %}