{% extends "default.html" %} {% block content %}
<div id="fh5co-work" class="fh5co-light-grey">
    <div class="row animate-box">
        <center>
            <h2>System Photos</h2></center>
        <center><small>(more current photos at <a style="color: rgb(64, 144, 255);" href="https://www.facebook.com/SunWork.org/photos_stream?ref=page_internal" target="_blank">SunWork's Facebook page</a>)</small></center>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 text-center animate-box">
            <a href="../static/images/system_photo1.jpg" class="work" style="background-image: url(../static/images/system_photo1.jpg);">
                <div class="desc">
                    <h3>SunWork</h3>
                    <span>View More</span>
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center animate-box">
            <a href="../static/images/system_photo2.jpg" class="work" style="background-image: url(../static/images/system_photo2.jpg);">
                <div class="desc">
                    <h3>SunWork</h3>
                    <span>View More</span>
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center animate-box">
            <a href="../static/images/system_photo3.jpg" class="work" style="background-image: url(../static/images/system_photo3.jpg);">
                <div class="desc">
                    <h3>SunWork</h3>
                    <span>View More</span>
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center animate-box">
            <a href="../static/images/system_photo4.jpg" class="work" style="background-image: url(../static/images/system_photo4.jpg);">
                <div class="desc">
                    <h3>SunWork</h3>
                    <span>View More</span>
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center animate-box">
            <a href="../static/images/system_photo5.jpg" class="work" style="background-image: url(../static/images/system_photo5.jpg);">
                <div class="desc">
                    <h3>SunWork</h3>
                    <span>View More</span>
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center animate-box">
            <a href="../static/images/system_photo6.jpg" class="work" style="background-image: url(../static/images/system_photo6.jpg);">
                <div class="desc">
                    <h3>SunWork</h3>
                    <span>View More</span>
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center animate-box">
            <a href="../static/images/system_photo8.jpg" class="work" style="background-image: url(../static/images/system_photo8.jpg);">
                <div class="desc">
                    <h3>SunWork</h3>
                    <span>View More</span>
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center animate-box">
            <a href="../static/images/system_photo9.jpg" class="work" style="background-image: url(../static/images/system_photo9.jpg);">
                <div class="desc">
                    <h3>SunWork</h3>
                    <span>View More</span>
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center animate-box">
            <a href="../static/images/system_photo10.jpg" class="work" style="background-image: url(../static/images/system_photo10.jpg);">
                <div class="desc">
                    <h3>SunWork</h3>
                    <span>View More</span>
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center animate-box">
            <a href="../static/images/system_photo11.jpg" class="work" style="background-image: url(../static/images/system_photo11.jpg);">
                <div class="desc">
                    <h3>SunWork</h3>
                    <span>View More</span>
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center animate-box">
            <a href="../static/images/system_photo12.jpg" class="work" style="background-image: url(../static/images/system_photo12.jpg);">
                <div class="desc">
                    <h3>SunWork</h3>
                    <span>View More</span>
                </div>
            </a>
        </div>
        <div class="col-md-4 text-center animate-box">
            <a href="../static/images/system_photo13.jpg" class="work" style="background-image: url(../static/images/system_photo13.jpg);">
                <div class="desc">
                    <h3>SunWork</h3>
                    <span>View More</span>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock content %}