{% extends "default.html" %} {% block content %} {% load static %}
<div class="fh5co-light-grey padded-content">
   
 <div class="row animate-box">
        <center>
            <h2>Board Of Directors</h2>
        </center>
        <p>
            <img src="{% static 'images/director1.jpg' %}" class="team-img-left"><b>Aimee Gotway Bailey</b> is a Principal EnergyAnalyst at EDF Innovation Lab, the Silicon Valley based R&amp;D group of Électricité de France. There, she focuses on projects within the umbrella of distributed energy resources, including, microgrids, district energy, electrification of transportation and buildings, and policy and regulatory analysis. Prior to EDF, she held positions at PG&amp;E, City of Palo Alto Utilities, Global Environmental Institute (Beijing, China) and the U.S. Department of Energy's SunShot Initiative. Aimee has a bachelor&#8217;s degree in Materials Science in Engineering from the University of Pennsylvania in Philadelphia and a PhD in physics from Imperial College London. Before joining SunWork's Board, Aimee organized several group volunteer days in support of SunWork nonprofit projects.
        </p>
        <p>
            <img src="{% static 'images/director2.jpg' %}" class="team-img-right"><b>Mike Balma</b> is SunWork&#8217;s Development Director. He has completed business development and marketing projects for several solar companies. Mike helped lead the Performance Committee for SunSpec, a nonprofit solar industry alliance pursuing information standards that address operational aspects of PV on the smart grid. He is also on the Board on Carbon Free Mountain View. Mike had an extensive marketing career with Hewlett-Packard including helping build HP&#8217;s open source business. He previously worked for SRI International, consulting onrenewable energy technologies including solar, wind and biomass. He has a Chemical Engineering degree from Northwestern University and a Stanford MBA. Mike also completed Stanford Alumni Consulting Team projects for environmental nonprofits including Acterra, The Gorilla Foundation and Wildlife Rescue.
        </p>
        <p>
            <img src="{% static 'images/director3.jpg' %}" class="team-img-left"><b>Tom Kabat</b> is an energy consultant for the Department of Energy helping to analyze, manage, operate and optimize federal hydroelectric generators in Califronia. He has 30 years of utility energy planning experience and helped manage hydroelectric and renewable energy portfolios for the City of Palo Alto where he rose through the ranks from Solar Engineer to Senior Resource Originator helping acquire and manage a carbon neutral electric portfolio including wind, landfil gas, and solar power. Tom has a BS in Environmental Engineering from Cal Poly SLO and earned a P.E. in Mechanical Engineering. He served on the board of directors of a local credit union and has several sustainability related hobbies including: solar installation, resource rescue, bicycle building, teaching bicycle repair, and leading bike tours.
        </p>
        <p>
            <img src="{% static 'images/director4.jpg' %}" class="team-img-right"><b>Julian Ryba-White</b> is the Director of Marketing and Product Strategy at Ten K Solar, a firm focused on developing next generation PV technologies for the commercial sector. Before Ten K he spent 7 years atSolarCity where he held many roles including PV Installer, Regional Installation Manager, Installation Process Engineer, Training Manager, and Director of Product Management at Zep Solar. He has been a NABCEP certified installer since 2010. Julian has a BA in Biological Psychology with emphases in Pre-Medical studies and Anthropology from the University of Kansas. He resides in Minneapolis with his wife and daughter.
        </p>
        <p>
            <img src="{% static 'images/director5.jpg' %}" class="team-img-left"><b>Reuben Veek</b> founded SunWork and he is currently the Executive Director and Operations Manager. He has been installing grid-tie residential solar electricity systems since 2006, and has been involved in building more than 150 systems in the Sacramento Valley and the Bay Area, most recently as a Regional Installation Lead for SolarCity. He received his Bachelor's in philosophy from Stanford University and has a background in physics, mathematics, and electrical engineering. He has an earnest love for being outside, especially backpacking, and a warm regard for working with his hands.
        </p>
    </div>
</div>
<div class="padded-content">
    <div class="row animate-box">
        <center>
            <h2>Project Leads</h2>
        </center>
        <p>
            SunWork Renewable Energy Projects is an active California class C-46 (solar) contractor, license number 920732.
        </p>
        <p>
            <img src="{% static 'images/director5.jpg' %}" class="team-img-right">
            <b>Reuben Veek</b> has been installing grid-tie residential solar electricity systems since 2006, and has been involved in building more than 250 systems in the Sacramento Valleyand the Bay Area. He hasa background in physics, mathematics, and electrical engineering, and is a knowledgeable student of the National Electric Code and the most recent industry developments and innovations, and holds training certifications from Xantrex, Enphase, and Multi-Contact. He also designed and developed the SunThink! Solar Electricity System Analysis Software application used by SunWork to accurately and appropriately size solar systems.
        </p>
        <p>
            <img src="{% static 'images/lead1.jpg' %}" class="team-img-left">
            <b>John Beard</b> has been installinggrid-tiedand battery based solar systems since 2009, and is NABCEP certified as a PV Installation Professional since 2011. A recent arrival to the Bay Area, he installed solar systemsin Texas, New York, and Hawai'i. He volunteered extensively on solar projectswith both SunWork and nonprofit Grid Alternatives. He enjoys traveling to the hidden corners of the US with a solar-powered travel trailer, then hitting the trails.
        </p>
        <p>
            <b>Ernest Cheung</b> has been installing PV systems since 2016 as a SunWork volunteer participating in over 50 installations events. He has a chemical engineering background and has over a decade of experience in the semiconductor industry with tool installations and customer service. He has been involved in the solar industry since 2007, where as an Account Technologist with Applied Materials, he helped bring two thin film PV factories online in Spain and Italy.
        </p>
        <p>
            <img src="{% static 'images/lead2.jpg' %}" class="team-img-right">
            <b>Aldhar (Al) Keyes</b> has been involved in the installation of more than 100 solar PV systems in the Bay Area. In addition to solar energy, he has an interest in energy sources including wind and wave power. He has a BS in Industrial Engineering from Monterrey Institute of Technology and received a Postgraduate Diploma in Sustainable Energy Systems from the University of Edinburgh. When not planning or installing solar projects, he enjoys hiking and running outdoors.
        </p>
        <p>
            <img src="{% static 'images/lead3.jpg' %}" class="team-img-left">
            <b>Bryan Noel</b> has been installing solar professionally since 2012, with three years experience in residential grid-tie solar at Future Energy Savers. Before that he also installed a small scale standalone system on his parents house in 2009, and in 2010 he installed solar PV systems in Montaña de Oro State Park during his time in California Conservation Corps. He has a passion for clean and alternative energy sources, and sees photovoltaics as an important part of the solution to climate change that can be done by the average person. In his spare time, Bryan enjoys hiking and bicycling.
        </p>
        <p>
            <img src="{% static 'images/lead4.jpg' %}" class="team-img-right">
            <b>Brett Wolfram</b>, has lived all over the Bay Area since moving here from the Chicago in 1986. He is an alumnus of California State University, Chico where he first became involved in philanthropic work.He has more then 20 years experience in the construction industry and decided he wanted to use his expertise in construction to do something positive for the environment. After earning his NABCEP certification in solar PV installation, he attended a SunWork volunteer workshop and began volunteering for SunWork accumulated over 450 hours helping with solar installations.
        </p>
    </div>
</div>
{% endblock content %}