{% extends "default.html" %}
{% block content %}


<div id="fh5co-work" class="fh5co-light-grey">
    <div class="row animate-box">
        <center><h2>Our Team</h2></center>
        <br><br>
        <center>
            <img src="../static/images/director1.jpg" alt="SunWork Renewable Energy Projects" height="100" width="100">
            <img src="../static/images/director2.jpg" alt="SunWork Renewable Energy Projects" height="100" width="100">
            <img src="../static/images/director3.jpg" alt="SunWork Renewable Energy Projects" height="100" width="100">
            <img src="../static/images/director4.jpg" alt="SunWork Renewable Energy Projects" height="100" width="100">
            <img src="../static/images/director5.jpg" alt="SunWork Renewable Energy Projects" height="100" width="100">
            <img src="../static/images/lead1.jpg" alt="SunWork Renewable Energy Projects" height="100" width="100">
            <img src="../static/images/lead2.jpg" alt="SunWork Renewable Energy Projects" height="100" width="100">
            <img src="../static/images/lead3.jpg" alt="SunWork Renewable Energy Projects" height="100" width="100">
            <img src="../static/images/lead4.jpg" alt="SunWork Renewable Energy Projects" height="100" width="100">
        </center>
        <p>
       <center><bold> <a href="directors"> Board Of Directors</a></bold>
       <br>
       <bold> <a href="index/team/leads"> Project Leads</a></bold></center>

    </p>
       
  
            
        </div>

        
        
    </div>
    {% endblock content %}