{% extends "default.html" %} {% block content %}
<div id="fh5co-work" class="fh5co-light-grey">
    <center>
        <h2>Volunteers</h2>
    </center>
    <br>
    <br>
    <p>
        SunWork's volunteers are what make it work. By sharing their time, enthusiasm, and effort to help put up solar systems, they expand this renewable energy option for nonprofit organizations and low-energy-use homeowners where the economics of solar are not as compelling. SunWork volunteers participate in an orientation session training them in the basics of solar, electricity, and construction safety. On site, they work together with SunWork's professional staff, attaching racking, running conduit, hanging inverters, and mounting the solar panels. Everything that makes a system tick.
    </p>
    <p>
        Most SunWork volunteers are local people who are passionate about the environment and who are excited about doing something constructive. Volunteers work along side other people who care about this shared aim, pooling their energy and helping each other to accomplish something worthwhile and visible. Many SunWork volunteers are also drawn to the practical experience they gain and the opportunity to apply it beyond these projects, sometimes taking a first step towards a career working in this exciting and vital field.
    </p>
    <p>
        Home owners who are getting solar installed with SunWork also have the option of participating in the installation. Home owner participation is helpful to SunWork and this may allow us to serve areas where we don't have many volunteers. Home owners are welcome to attend the volunteer training sessions, however, it's not required.
        <br>
        <br> Volunteers must attend an orientation session. Check <a style="color: rgb(64, 144, 255);" href="new_volunteers">here</a> for upcoming training.
    </p>
    <p>
        Listen to the Solar Power World editors <a style="color: rgb(64, 144, 255);" href="https://soundcloud.com/solarpowerworld/solar-speaks-editors-complete-a-solar-installation" target="_blank">podcast</a> about their SunWork volunteer experience.
        <br>
        <br>
    </p>
    <center><img style="width: 432px; height: 324px;" alt="Solar Power World editors volunteer on SunWork installation" src="../static/images/volunteers_2.jpg" align="top"></center>
</div>
{% endblock content %}