 <footer id="fh5co-footer" role="contentinfo">
            <div class="row">
                <div class="col-md-4 col-md-push-1">
                    <h4>Latest Posts</h4>
                    <ul class="fh5co-footer-links">
                        <li><a href="#">Amazing Templates</a></li>
                        <li><a href="#">100+ Free Download Templates</a></li>
                        <li><a href="#">Neat is now available</a></li>
                        <li><a href="#">Download 1000+ icons</a></li>
                        <li><a href="#">Big Deal for this month of March, Join Us here</a></li>
                    </ul>
                </div>

                <div class="col-md-4 col-md-push-1">
                    <h4>Links</h4>
                    <ul class="fh5co-footer-links">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Work</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">About us</a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h4>Contact Information</h4>
                    <ul class="fh5co-footer-links">
                        <li>Sobrato Center for Nonprofits<br> 477 Valley Way <br> Milpitas, CA  95035</li>
                        <li><a href="tel://6505209918">Telephone: (650) 520-9918</a></li>
                        <li><a href="tel://6503504331">Fax: (650) 350-4331</a></li>
                        <li><a href="mailto:info@sunwork.org">info@sunwork.org</a></li>
                    </ul>
                </div>

            </div>

            <div class="row copyright">
                <div class="col-md-12 text-center">
                    <p>
                        <small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
                        <small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
                    </p>
                    <p>
                        <ul class="fh5co-social-icons">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="http://www.facebook.com/pages/SunWork/154066984692226?sk=wall"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        </ul>
                    </p>
                </div>
            </div>
        </footer>