 <footer id="fh5co-footer" role="contentinfo">
            <div class="row">

                <div class="col-md-6 col-md-push-3">
                    <h4>Links</h4>
                    <ul class="fh5co-footer-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/mission">Mission</a></li>
                        <li><a href="/volunteers">Volunteers</a></li>
                        <li><a href="/systems">Systems</a></li>
                        <li><a href="/sunthink">SunThink!</a></li>
                        <li><a href="/events">Events</a></li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <h4>Contact Information</h4>
                    <ul class="fh5co-footer-links">
                        <li>Sobrato Center for Nonprofits<br> 477 Valley Way <br> Milpitas, CA  95035</li>
                        <li><a href="tel://6505209918">Telephone: (650) 520-9918</a></li>
                        <li><a href="tel://6503504331">Fax: (650) 350-4331</a></li>
                        <li><a href="mailto:info@sunwork.org">info@sunwork.org</a></li>
                    </ul>
                </div>

            </div>

            <div class="row copyright">
                <div class="col-md-12 text-center">
                    <p>
                        <small class="block">&copy;2018 SunWork REP | All   content redistributable under the terms of the GNU FDL | SunWork REP is a US-registered 501(c)(3) tax-deductible nonprofit corporation</small> 
                        
                    </p>
                    <p>
                        <ul class="fh5co-social-icons">
                            <li><a href="http://www.facebook.com/pages/SunWork/154066984692226?sk=wall"><i class="icon-facebook"></i></a></li>
                        </ul>
                    </p>
                </div>
            </div>
        </footer>