{% load static %}
<nav class="fh5co-nav" role="navigation">
    <div class="container-wrap">
        <div class="top-menu">
            <div class="row">
                <div class="col-xs-2">
                    <div id="fh5co-logo">
                        <a href="/"><img src="{% static 'images/sunwork_logo.jpg' %}" alt="SunWork" width="150" height="50"></a>
                    </div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li class="has-dropdown">
                            <a href="/">Home</a>
                            <ul class="dropdown">
                                <li><a href="/getting_started">Getting Started</a></li>
                                <li><a href="/team">Our Team</a></li>
                                <li><a href="/documents">Documents</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="/mission">Mission</a>
                            <ul class="dropdown">
                                <li><a href="/mission/objectives">Objectives</a></li>
                                <li><a href="/mission/support">Support</a></li>
                                <li><a href="/mission/philosophy">Philosophy</a></li>
                                <li><a href="/map">Map</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="/volunteers">Volunteers</a>
                            <ul class="dropdown">
                                <li><a href="/new_volunteers">New Volunteers</a></li>
                                <li><a href="/existing_volunteers">Existing Volunteers</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="/systems">Systems</a>
                            <ul class="dropdown">
                                <li><a href="/systems/about">About Solar</a></li>
                                <li><a href="/systems/system_photo">System Photos</a></li>
                                <li><a href="/systems/nonprofit">Nonprofit Photos</a></li>
                                <li><a href="/systems/cases">Case Studies</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="/sunthink">Sunthink</a>
                            <ul class="dropdown">
                                <li><a href="/sunthink/sunthinkabout">What It Does</a></li>
                                <li><a href="/sunthink/sunthinkhowto">How To Use It</a></li>
                                <li><a href="{% static 'images/SunThink-1.2.zip' %}">Download SunThink! 1.2</a></li>
                                <li><a href="http://www.scilab.org/en/download/Previous-Scilab-Versions" target="blank">Get Scilab version 5.2.2</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="/events">Events</a>
                            <ul class="dropdown">
                                <li><a href="/events/news">Latest News</a></li>
                                <li><a href="/events">Upcoming Events</a></li>
                                <li><a href="/events/newsletter">Newsletter</a></li>
                            </ul>
                        </li>
                        <li>
                        <a href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>