<nav class="fh5co-nav" role="navigation">
        <div class="container-wrap">
            <div class="top-menu">
                <div class="row">
                    <div class="col-xs-2">
                        <div id="fh5co-logo"><a href="index.html">Sunwork</a></div>
                    </div>
                    <div class="col-xs-10 text-right menu-1">
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li class="has-dropdown">
                                <a href="">Mission</a>
                                <ul class="dropdown">
                                    <li><a href="#">Points of Focus</a></li>
                                    <li><a href="#">Philosophy</a></li>
                                    <li><a href="#">Volunteers</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="">Volunteers</a>
                                <ul class="dropdown">
                                    <li><a href="#">For New Volunteers</a></li>
                                    <li><a href="#">For Existing Volunteers</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="">Systems</a>
                                <ul class="dropdown">
                                    <li><a href="#">Getting to Know Solar</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="">SunThink!</a>
                                <ul class="dropdown">
                                    <li><a href="#">About SunThink!</a></li>
                                    <li><a href="#">Try SunThink!</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="">News and Events</a>
                                <ul class="dropdown">
                                    <li><a href="#">Read the Latest</a></li>
                                    <li><a href="#">Upcoming Events</a></li>
                                    <li><a href="#">Newsletter</a></li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="">Getting Started</a>
                                <ul class="dropdown">
                                    <li><a href="#">Qualification Criteria</a></li>
                                    <li><a href="#">Request Quote</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </nav>